<link rel="stylesheet" href="/style/base/css/bootstrap.css">
<link rel="stylesheet" href="/style/base/css/bootstrap-theme.css">
<link rel="stylesheet" href="/style/v2/css/ug.css">
<link rel="stylesheet" href="/style/v2/css/ui.css">

<script src="/style/base/js/modernizr.js"></script>

<script src="/style/base/js/jQuery.js"></script>
<script src="/style/base/js/bootstrap.js"></script>

<script src="/style/base/js/holder.js"></script>

<script src="/style/v2/js/plugin.js"></script>
<script src="/style/v2/js/app.js"></script>

<script type="text/javascript" src="http://js.testfreaks.com/badge/hookbag.ca/head.js"></script>