#ug-login {
  margin-left: 15px;
  font-size: 12px;
}
#ug-login li {
  list-style-type: none;
}
#ug-login .ug-exist,
#ug-login .ug-signin-help,
#ug-login .ug-signup {
  border: 1px solid #dddddd;
}
#ug-login .ug-exist .ug-title,
#ug-login .ug-signin-help .ug-title,
#ug-login .ug-signup .ug-title {
  padding-left: 20px;
}
#ug-login .ug-exist form,
#ug-login .ug-signin-help form,
#ug-login .ug-signup form,
#ug-login .ug-exist > div,
#ug-login .ug-signin-help > div,
#ug-login .ug-signup > div {
  padding: 20px;
}
#ug-login .ug-exist form input,
#ug-login .ug-signin-help form input,
#ug-login .ug-signup form input,
#ug-login .ug-exist > div input,
#ug-login .ug-signin-help > div input,
#ug-login .ug-signup > div input {
  font-size: 12px;
  height: auto;
}
#ug-login .ug-exist form .checkbox,
#ug-login .ug-signin-help form .checkbox,
#ug-login .ug-signup form .checkbox,
#ug-login .ug-exist > div .checkbox,
#ug-login .ug-signin-help > div .checkbox,
#ug-login .ug-signup > div .checkbox {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  #ug-login {
    margin-left: 0;
    margin-top: 10px;
  }
}
