---
layout: page-nonav
title: Hookbag
---


<div class="hb union" id="skrollr-body">
	<div class="hidden navbar-union">
		<ul class="nav">
			{% for x in (1..2) %}
			<li class=""><a href="#test{{x}}">{{x}}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div class="test" id="test1">
		<div class="tit"><h2>简要帮助</h2></div>
		<div class="container hb-box">
			<div class="tac">
				{% for x in (1..6) %}
				<p>据说有个简要帮助 据说有个简要帮助 据说有个简要帮助 据说有个简要帮助 据说有个简要帮助</p>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="test" id="test2">
		<div class="tit"><h2>自问自答的FAQ</h2></div>
		<div class="container">
			<div class="panel-group" id="accordion" style="margin-top:20px">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span class="icon-help"></span>
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">抽奖必须拥有hookbag 帐号吗</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							<blockquote><p>我靠!你傻呀,hookbag 这里2000万商品.但是不卖药呀,请出门左转.</p></blockquote>
						</div>
					</div>
				</div>
				{% for x in (1..6) %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span class="icon-help"></span>
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">参与抽奖需要购买多少钱的商品呢</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							<blockquote><p>参与抽奖需要购买多少钱的商品呢?参与抽奖需要购买多少钱的商品呢?参与抽奖需要购买多少钱的商品呢?参与抽奖需要购买多少钱的商品呢?参与抽奖需要购买多少钱的商品呢?</p></blockquote>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span class="icon-help"></span>
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">只要购买商品.一定就能参加抽奖吗?中奖机率又是多少呢</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							<blockquote><p>只要购买商品.一定就能参加抽奖吗?中奖机率又是多少呢?只要购买商品.一定就能参加抽奖吗?中奖机率又是多少呢?只要购买商品.一定就能参加抽奖吗?中奖机率又是多少呢?只要购买商品.一定就能参加抽奖吗?中奖机率又是多少呢?</p></blockquote>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>


