---
layout: page-nonav
title: Hookbag
---
<div class="hb union" id="skrollr-body">
  <div class="hidden navbar-union">
    <ul class="nav">
      {% for x in (1..2) %}
      <li class=""><a href="#unionCon{{x}}">{{x}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="unionCon luckyCash" id="unionCon1">
    <div class="tit tac">
      <h2>My Ticket</h2>
    </div>
    <div class="container hb-box">

      <table class="table table-striped ">
        <thead>
          <tr>
            <th>Ticket Issue Time</th>
            <th>Number</th>
            <th>Ways of Gaining</th>
          </tr>
        </thead>
        <tbody>
          {% for x in (1..5) %}
          <tr>
            <td>2013-12-11 15:33</td>
            <td class="showTip" id="0{{x}}" data-id="#0{{x}}" data-toggle="tooltip" data-placement="left" title="">6
						</td>
            <td>Purchasing</td>
          </tr>
          <tr>
            <td>2013-12-11 15:33</td>
            <td class="showTip" id="{{x}}" data-id="{{x}}" data-toggle="tooltip" data-placement="left" title="">6
						</td>
            <td>Binding Facebook Account</td>
          </tr>
          <tr>
            <td>2013-12-11 15:33</td>
            <td class="showTip" id="{{x}}" data-id="{{x}}" data-toggle="tooltip" data-placement="left" title="">6
						</td>
            <td>Sharing Through Facebook Account</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
			<div class="tooltip">
				<div class="tooltip-inner">
					<p>All Ticket Numbers：002200 001100 002200 001100 002200 001100 </p>
					<p>Winning Number/s：002200 </p>
				</div>
				<div class="tooltip-arrow"></div>
			</div>
			<ul class="pagination pull-right">
				<li class="disabled"><a href="#">«</a></li>
				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">»</a></li>
			</ul>
    </div>

  </div>

</div>
