---
layout: page-nonav
title: Hookbag
---
<div class="hb union" id="skrollr-body">
  <div class="hidden navbar-union">
    <ul class="nav">
      {% for x in (1..2) %}
      <li class=""><a href="#unionCon{{x}}">{{x}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="unionCon report" id="unionCon1">
    <div class="tit tac">
      <h2>Share & Income</h2>
    </div>
    <div class="container hb-box">

      <h4 class="tit ui-left">Quick View</h4>
      <table class="table table-bordered hb-reportList1">
        <tr>
          <td>Yesterday:$4,232</td>
          <td>This Month:$323,842</td>
        </tr>
        <tr>
          <td>Last 7 Days:$4,322</td>
          <td>Last Month:$5,242</td>
        </tr>
      </table>

      <div class="row hb-reportList2">
        <div class="col-sm-3 media">
          <div class="pull-left"><span class="icon-users hb-icon"></span></div>
          <div class="media-body">Introducer/Upline<br><strong>Introducer ID</strong></div>
        </div>
        <div class="col-sm-3 media">
          <div class="pull-left"><span class="icon-alarm2 hb-icon"></span></div>
          <div class="media-body">Membership Validity Period Remaining<br><strong>55 Days</strong></div>
        </div>
        <div class="col-sm-3 media">
          <div class="pull-left"><span class="icon-credit hb-icon"></span></div>
          <div class="media-body">Referral Income<br><strong>$324</strong></div>
        </div>
        <div class="col-sm-3 media">
          <div class="pull-left"><span class="icon-feed hb-icon"></span></div>
          <div class="media-body"><a href="report1.html">Referral Details<br><strong>56 </strong>Members</a></div>
        </div>
      </div>

      <h4 class="tit ui-left">Income Details</h4>
      <h4 class="ui-left" style="margin:0 0 0 10px;"><a href="mya.html" class="btn btn-default">MY CASH</a></h4>
      <table class="table table-striped hb-reportList3">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Category</th>
            <th>Customer Payment Received</th>
            <th>Members Earnings Paid <span style="font-weight:400;font-size:11px;">(Funds Frozen Until 45 Days Later)</span></th>
            <th>Transaction Status/Details</th>
          </tr>
        </thead>
        <tbody>
          {% for x in (1..10) %}
          <tr>
            <td><span class="label label-success">+$432</span></td>
            <td>Lucky Cash</td>
            <td>2013-12-11 15:33</td>
            <td>2013-12-11 15:33</td>
            <td>Product Refunded</td> 
          </tr>
          <tr>
            <td><span class="label label-success">+$42</span></td>
            <td>Referral</td>
            <td>2013-12-11 15:33</td>
            <td>2013-12-11 15:33</td>
            <td>Pending</td>
          </tr>
          <tr>
            <td><span class="label label-danger">-$32</span></td>
            <td>Sharing</td>
            <td>2013-12-11 15:33</td>
            <td>2013-12-11 15:33</td>
            <td>Product Returned/Exchanged</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
			<ul class="pagination pull-right">
				<li class="disabled"><a href="#">«</a></li>
				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">»</a></li>
			</ul>
		 </div>

  </div>

</div>
