---
layout: page-nonav
title: Hookbag
---
<div class="hb union" id="skrollr-body">
  <div class="hidden navbar-union">
    <ul class="nav">
      {% for x in (1..2) %}
      <li class=""><a href="#unionCon{{x}}">{{x}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="unionCon tool task" id="unionCon1">
    <div class="tit tac">
      <h2> Inviting Friends Task</h2>
    </div>

    <div class="container hb-box">

      <dl>
        <dt class="ui-left"><span class="icon-users hb-icon"></span></dt>
        <dt><a href="">Inviting Friends Task</a></dt>
        <dd class="row">
          <p class="doc">You need to enroll 5 or more newly Registered Users and provide them 5 Gift Certificates of CAD 10,then you will get a 10 Cash award for each of the first 5 people you have invited and who have joined and used their Gift Certificate, <a href="">0</a> Registered Users used the Gift Certificates to make the purchase on Hookbag,click here to check your <a href="mya.html">Cash Account.</a></p>

          <hr>

          <p class="alert alert-success"><strong>Your Promotion E-mail Addresses:</strong></p>
					<div class="col-md-6">
						{% for x in (1..5) %}
						<form class="form-inline" role="form">
							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail2">Give $10 Gift Certificate</label>
								<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Give $10 Gift Certificate">
							</div>
							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail2">Email Address</label>
								<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email Address">
							</div>
							<button type="submit" class="btn btn-default">Send</button>
							<div class="checkbox label label-danger">
								<label>Incomplete</label>
							</div>
						</form>
						{% endfor %}
					</div>
					<div class="col-md-6">
						<textarea class="form-control" rows="10">Write a Message to Friend & Associates to Join the CRP Club</textarea>
					</div>
        </dd>
      </dl>

      <div class="col-md-12 button tac">
        <a class="btn btn-info">Finish</a>
      </div>

    </div>

  </div>

</div>
