---
layout: page-nonav
title: Hookbag
---


<div class="hb union" id="skrollr-body">
		<div class="hidden navbar-union">
		<ul class="nav">
			<li class="active"><a href="#test1">1</a></li>
    {% for x in (2..6) %}
			<li class=""><a href="#test{{x}}">{{x}}</a></li>
    {% endfor %}
		</ul>
		</div>

    {% for x in (1..6) %}
    <div class="test" id="test{{x}}">
        <div class="tit">
            <h2 href="#test{{x}}">主题{{x}}</h2>
        </div>
        <div class="container">
            
            
            <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Check me out
                </label>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>

    </div>
    {% endfor %}

</div>
