---
layout: page-nonav
title: Hookbag
---


<div class="hb union" id="skrollr-body">
  <div class="hidden navbar-union">
    <ul class="nav">
      {% for x in (1..2) %}
      <li class=""><a href="#unionCon{{x}}">{{x}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="unionCon tool" id="unionCon1">
    <div class="tit tac">
      <h2>With Hookbag tools, you can get more from less.</h2>
    </div>
    <div class="container hb-box tac" style="width:800px;">


      <div class="row hb-iconList">
        <a href="tool1.html" class="hb-tool col-sm-4">
          <span class="icon-link hb-icon"></span>
          <h4 class="title">Product Links</h4>
        </a>
        <div class="col-sm-4 hb-tool" data-tool="#tool2">
					<span class="icon-arrow-up6 hb-arrow"></span>
          <span class="icon-images hb-icon"></span>
          <h4 class="title">Leading Advertisement</h4>
        </div>
        <div class="col-sm-4 hb-tool" data-tool="#tool3">
					<span class="icon-arrow-up6 hb-arrow"></span>
          <span class="icon-cog3 hb-icon"></span>
          <h4 class="title">Widgets</h4>
        </div>
      </div>

			<div id="tool2" class="hb-tool-collapse collapse">
				<div class="row hb-iconList mod">
				{% for x in (1..12) %}
					<div class="col-sm-4">
						<div class="doc">
							<h3 class="title">Christmas Season</h3>
							<p>Christmas seasonal activities, click to claim.</p>
						</div>
						<div class="button">
							<a href="tool4.html" class="btn btn-info un-btn">Claim</a>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
			<div id="tool3" class="hb-tool-collapse collapse">
				<div class="row hb-iconList mod">
					<a href="tool6.html" class="col-sm-3 col-sm-offset-6">
						<div class="doc">
							<span class="icon-search hb-icon"></span>
							<h3 class="title">search box</h3>
						</div>
					</a>
					<a href="tool7.html" class="col-sm-3">
						<div class="doc">
							<span class="icon-tools hb-icon"></span>
							<h3 class="title">finder</h3>
						</div>
					</a>
				</div>
			</div>
    </div>

  </div>

</div>


