---
layout: page-nonav
title: Hookbag
---
<div class="hb union" id="skrollr-body">
  <div class="hidden navbar-union">
    <ul class="nav">
      {% for x in (1..2) %}
      <li class=""><a href="#test{{x}}">{{x}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="test tool task" id="test1">
    <div class="tit">
    <h2>MY TRACK ID</h2>
    </div>
    <div class="container tac hb-box">

      <dl>
        <dt class="mb20">Track id needs to be set before the promotion link is done.</dt>
        <dd>
          <table class="table">
            {% for x in (1..5) %}
            <tr>
              <td>12354122525</td>
              <td>Product</td>
              <td><a class="btn btn-default btn-sm">delete</a></td>
            </tr>
            {% endfor %}
          </table>

          <form class="form-inline" role="form">

            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">ID</label>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="ID">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Label</label>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Label">
            </div>
            <button type="submit" class="btn btn-default">Add Track ID</button>
          </form>

        </dd>
      </dl>
    </div>
  </div>
</div>
