<div class="navbar navbar-default un-nav mb0 ui-nav-border">
  <div id="un-navList" class="container un-navlist">
    <div class="navbar-header dropdown">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if page.title == "grid" or page.title == "node" or page.title == "item" %}
        <a class="navbar-brand" class="dropdown-toggle" data-toggle="dropdown" href="/page/node/html/node.html">Computer Systems<span class="glyphicon glyphicon-align-justify"></span></a>
      {% else if %}
        <a class="navbar-brand" class="dropdown-toggle" data-toggle="dropdown" href="/page/node/html/node.html">ALL CATEGORIES <span class="glyphicon glyphicon-align-justify"></span></a>
      {% endif %}
        <ul class="dropdown-menu un-dropdown-nav">
    <li class="dropdown-submenu" data-submenu-id="computer-systems">

    <a href="/page/node/html/node.html"><span class="pull-right fz11 glyphicon glyphicon-chevron-right"></span>Computer Systems<br/><small>Get...for free shipping today</small></a>

    <div class="popover" id="computer-systems">
    <h3 class="popover-title un-title un-spc-title">Computer Systems</h3>
    <dl class="popover-content">
      <dd class="sNavLink"><a href="/page/node/html/grid.html">Notebooks</a></dd>
      <dd class="sNavLink"><a href="/page/node/html/grid.html">Netbooks</a></dd>
      <dd class="sNavLink"><a href="/page/node/html/grid.html">Tablets</a></dd>
      <dd class="sNavLink"><a href="/page/node/html/grid.html">Desktop</a></dd>
      <dd class="sNavLink"><a href="/page/node/html/grid.html">Workstations</a></dd>
      <dd class="sNavLink"><a href="/page/node/html/grid.html">Servers</a></dd>
      <dd class="sNavLink"><a href="/page/node/html/grid.html">Barebone Systems</a></dd>
      <dd class="sNavLink"><a href="/page/node/html/grid.html">Terminals & Thin Clients</a></dd>
      <dd class="sNavLink"><a href="/page/node/html/grid.html">Laptop Accessories</a></dd>
    </dl>
    </div>

    </li>
    <li class="dropdown-submenu" data-submenu-id="computer-parts">
      <a href=""><span class="pull-right fz11 glyphicon glyphicon-chevron-right"></span>Computer Parts</a>
      <div class="popover" id="computer-parts">
      <h3 class="popover-title un-title un-spc-title">Computer Parts</h3>
      {% for x in (1..3) %}
      <dl class="popover-content">
        <dd class="sNavLink"><a href="/page/node/html/grid.html">Hard Drives</a></dd>
        <dd class="sNavLink"><a href="/page/node/html/grid.html">Headsets</a></dd>
        <dd class="sNavLink"><a href="/page/node/html/grid.html">Memory</a></dd>
        <dd class="sNavLink"><a href="/page/node/html/grid.html">Surge Suppressors</a></dd>
        <dd class="sNavLink"><a href="/page/node/html/grid.html">Mouse</a></dd>
        <dd class="sNavLink"><a href="/page/node/html/grid.html">Peripheral</a></dd>
        <dd class="sNavLink"><a href="/page/node/html/grid.html">Secure Digital Memory Cards</a></dd>
        <dd class="sNavLink"><a href="/page/node/html/grid.html">Storage</a></dd>
        <dd class="sNavLink"><a href="/page/node/html/grid.html">Computer Hardware</a></dd>
        <dd class="sNavLink"><a href="/page/node/html/grid.html">Hard Drives</a></dd>
        <dd class="sNavLink"><a href="/page/node/html/grid.html">Headsets</a></dd>
      </dl>
      {% endfor %}
      </div>
    </li>
    <li class="dropdown-submenu"><a href="/page/node/html/node.html">Phones</a></li>
    <li class="dropdown-submenu"><a href="/page/node/html/node.html">Network</a></li>
    <li class="dropdown-submenu"><a href="/page/node/html/node.html">Office </a></li>
    <li class="dropdown-submenu"><a href="/page/node/html/node.html">Educational</a></li>
    <li class="dropdown-submenu"><a href="/page/node/html/node.html">Software</a></li>
    <li class="dropdown-submenu"><a href="/page/node/html/node.html">HardWare</a></li>
    <li class="dropdown-submenu"><a href="/page/node/html/node.html">Home & Garden</a></li>
    <li class="dropdown-submenu"><a href="/page/node/html/node.html">Clothing & Shoes</a></li>
  </ul>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if page.title == "grid" or page.title == "node" or page.title == "item" %}

        <li class="dropdown active ui-nav-active">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Category <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/page/node/html/grid.html">Computer Hardware</a></li>
            <li><a href="/page/node/html/grid.html">Storage</a></li>
            <li><a href="/page/node/html/grid.html">Misc</a></li>
            <li><a href="/page/node/html/grid.html">Peripheral</a></li>
            <li><a href="/page/node/html/grid.html">Power Supplies</a></li>
            <li><a href="/page/node/html/grid.html">Computer Accessories</a></li>
          </ul>
        </li>
          
        {% else if %}

        {% endif %}

        {% if page.title == "grid" or page.title == "node" or page.title == "item" %}
          <li class="ui-nav-item"><a href="">Best Seller</a></li>
          <li class="ui-nav-item"><a href="">HOT BRANDS</a></li>
          <li class="ui-nav-item"><a href="">INK & TONER FINDER</a></li>
        {% else if %}
          <li class="active ui-nav-active"><a href="">Hookbag Home</a></li>
          <li class="ui-nav-item"><a href="">Hottest Deals</a></li>
          <li class="ui-nav-item"><a href="">Always Lowest Price</a></li>
          <li class="ui-nav-item"><a href="">Hard To Find</a></li>
        {% endif %}
        
      </ul>
      
    </div>

  </div>
</div>
    <script>

        var $menu = $(".un-dropdown-nav");

        $menu.menuAim({
            enter: activateSubmenu,
            exit: deactivateSubmenu
        });
        function activateSubmenu(row) {
            var $row = $(row),
                submenuId = $row.data("submenuId"),
                $submenu = $("#" + submenuId),
                height = $menu.outerHeight(),
                width = $menu.outerWidth();
        num = $row.find('dl').length;
            // Show the submenu
            $submenu.css({
                display: "block",
                top: -2,
                left: width - 2,  // main should overlay submenu
                height: height,  // padding for main dropdown's arrow
        width:260*num+4
            });

            $row.find("a").addClass("maintainHover");
        }

        function deactivateSubmenu(row) {
            var $row = $(row),
                submenuId = $row.data("submenuId"),
                $submenu = $("#" + submenuId);

            $submenu.css("display", "none");
            $row.find("a").removeClass("maintainHover");
        }

        $(".dropdown-menu li").click(function(e) {
            e.stopPropagation();
        });

    </script>
