    <ul id="nav" class="nav">
      <li class="ui grid pagination menu" data-toggle='offcanvas' data-target="#subNav">
        <span class="three wide column item"><i class="angle left icon"></i></span>
        <a class="thirteen wide column item" href="node.html">
            <i class="desktop icon"></i>
            Computer Systems
        </a>
      </li>
      <li class="ui grid pagination menu" data-toggle='offcanvas' data-target="#subNav">
        <span class="three wide column item"><i class="angle left icon"></i></span>
        <a class="thirteen wide column item" href="node.html">
            <i class="keyboard icon"></i>
            Computer Parts
        </a>
      </li>
      <li class="ui grid pagination menu" data-toggle='offcanvas' data-target="#subNav">
        <span class="three wide column item"><i class="angle left icon"></i></span>
        <a class="thirteen wide column item" href="node.html">
            <i class="mobile icon"></i>
            Phones
        </a>
      </li>
      <li class="ui grid pagination menu" data-toggle='offcanvas' data-target="#subNav">
        <span class="three wide column item"><i class="angle left icon"></i></span>
        <a class="thirteen wide column item" href="node.html">
            <i class="globe icon"></i>
            Network
        </a>
      </li>
      <li class="ui grid pagination menu" data-toggle='offcanvas' data-target="#subNav">
        <span class="three wide column item"><i class="angle left icon"></i></span>
        <a class="thirteen wide column item" href="node.html">
            <i class="building icon"></i>
            Office
        </a>
      </li>
      <li class="ui grid pagination menu" data-toggle='offcanvas' data-target="#subNav">
        <span class="three wide column item"><i class="angle left icon"></i></span>
        <a class="thirteen wide column item" href="node.html">
            <i class="book icon"></i>
            Education
        </a>
      </li>
      <li class="ui grid pagination menu" data-toggle='offcanvas' data-target="#subNav">
        <span class="three wide column item"><i class="angle left icon"></i></span>
        <a class="thirteen wide column item" href="node.html">
            <i class="save icon"></i>
            Software
        </a>
      </li>
      <li class="ui grid pagination menu" data-toggle='offcanvas' data-target="#subNav">
        <span class="three wide column item"><i class="angle left icon"></i></span>
        <a class="thirteen wide column item" href="node.html">
            <i class="hdd icon"></i>
            Hardware
        </a>
      </li>
      <li class="ui grid pagination menu" data-toggle='offcanvas' data-target="#subNav">
        <span class="three wide column item"><i class="angle left icon"></i></span>
        <a class="thirteen wide column item" href="node.html">
            <i class="home icon"></i>
            Home&Garden
        </a>
      </li>
      <li class="ui grid pagination menu" data-toggle='offcanvas' data-target="#subNav">
        <span class="three wide column item"><i class="angle left icon"></i></span>
        <a class="thirteen wide column item" href="node.html">
            <i class="cart icon"></i>
            Clothing&Shoes
        </a>
      </li>
      <li class="ui grid pagination menu slideLeft" data-toggle='offcanvas' data-target="#nav">
        <div class="open">
        <div class="sixteen column item" href="node.html">
          <i class="arrow sign left icon"></i>
          收起菜单
        </div>
        </div>
        <div class="close">
        <div class="sixteen column item" href="node.html">
          <i class="arrow sign right icon"></i>
          展开菜单
        </div>
        </div>
      </li>
    </ul>      
    <ul id="subNav" class="nav attr ui  menu">
      <li class="ui grid pagination menu">
        <span class="three wide column item" data-toggle='offcanvas' data-target="#nav"><i class="angle left icon"></i></span>
        <a class="thirteen wide column item" href="node.html">
            <i class="desktop icon"></i>
            Computer Systems
        </a>
      </li>
      {% for x in (1..8) %}
      <li class="item">
        <a href="grid.html">Terminals & Thin Clients <i class="angle right icon"></i></a>
      </li>
      {% endfor %}
      {% for x in (1..3) %}
      <li class="item ui hb basic accordion">
        <span class="un-title un-spc-title active title"><i class="triangle right icon"></i>　Brand Name</span>
        <ul class="sNav active content">
          <li><a href=""><i class="checkbox checked icon"></i> Acer</a></li>
          <li><a href=""><i class="checkbox checked icon"></i> ASUS</a></li>
          <li><a href=""><i class="checkbox empty icon"></i> BTI</a></li>
          <li><a href=""><i class="checkbox empty icon"></i> Case Logic</a></li>
          <li><a href=""><i class="checkbox empty icon"></i> Cocoon</a></li>
          <li><a href=""><i class="checkbox empty icon"></i> Dell</a></li>
          <li><a href=""><i class="checkbox empty icon"></i> HP</a></li>
          <li><a href=""><i class="checkbox empty icon"></i> IBM</a></li>
          <li><a href=""><i class="checkbox empty icon"></i> Intel</a></li>
          <li><a href=""><i class="checkbox empty icon"></i> Kensington</a></li>
        </ul>
      </li>
      <li class="item ui hb basic accordion">
        <span class="un-title un-spc-title title"><i class="triangle right icon"></i>　Product Type</span>
        <ul class="sNav content">
            <li><a href=""><i class="checkbox empty icon"></i> AC Adapter</a></li>
            <li><a href=""><i class="checkbox empty icon"></i> Carrying Case</a></li>
            <li><a href=""><i class="checkbox empty icon"></i> Cooling Stand</a></li>
            <li><a href=""><i class="checkbox empty icon"></i> Docking Station</a></label> </li>
            <li><a href=""><i class="checkbox empty icon"></i> Notebook Battery</a></label> </li>
        </ul>                         
      </li>                             
      {% endfor %}


    </ul>