<div class="container ug-account">

	<div id="" class="row">
		<div class="col-md-3">
			{% include page/login/block/mya.html %}
		</div>
		<div class="col-md-9">

			<div class="panel panel-default ug-account-list">
			  <div class="panel-heading">
			  <strong>Replacement</strong>
			  </div>
			  <div class="panel-body">
				<div class="alert alert-warning"><span class="glyphicon glyphicon-info-sign"></span>　
					<strong>Your RMA order #1113817173441535</strong><br>
					　　We have received your RMA request and will notify you the process result by email Within 1-2Business days.
				</div>
				<table class="table table-bordered  table-striped">
					<thead>
						<tr>
						<th colspan="4">RMA Product(s)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>H3C0CSPDW</td>
							<td><a href="rma3.html">WD My Book Studio 4TB Mac External Hard Drive Storage USB3.0</a></td>
							<td>WD My Book Studio 4TB Mac External Hard Drive Storage USB3.0</td>	
						</tr>
					</tbody>
				</table>

				<div class="panel panel-default">
				  <div class="panel-heading">Reason</div>
				  <div class="panel-body">
					WD My Book Studio 4TB Mac External Hard Drive Storage USB3.0
				  </div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default c">
						  <div class="panel-heading">Ship To</div>
						  <div class="panel-body">
							<address>
							  22 Antares Dr, Unit F<br>
							  Ottawa , ONTARIO<br>
							  Canada K2E7Z6
							</address>
						  </div>
						</div>
					
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">Ship From</div>
						  <div class="panel-body">
							<address>
							  david eee li<br>
							  suite 700 rideau ,Unit ee<br>
							  M1W 2X3 tttt,ONTARIO<br/>
							  Phone:(666)860-9902 Ext.1
							</address>
						  </div>
						</div>
					
					</div>
				</div>
			  </div>
			</div>


		</div>

	</div>

