<div class="ui hb grid">
	<div class="three wide column ui vertical menu hb side left" id="side">
	  <a class="item">
	      <i class="desktop icon"></i>
	      Computer Systems
	  </a>
	  <a class="item">
	      <i class="keyboard icon"></i>
	      Computer Parts
	  </a>
	  <a class="item">
	      <i class="mobile icon"></i>
	      Phones
	  </a>
	  <a class="item">
	      <i class="globe icon"></i>
	      Network
	  </a>
	  <a class="item">
	      <i class="briefcase icon"></i>
	      Office
	  </a>
	  <a class="item">
	      <i class="book icon"></i>
	      Education
	  </a>
	  <a class="item">
	      <i class="save icon"></i>
	      Software
	  </a>
	  <a class="item">
	      <i class="hdd icon"></i>
	      Hardware
	  </a>
	  <a class="item">
	      <i class="home icon"></i>
	      Home&Garden
	  </a>
	  <a class="item">
	      <i class="cart icon"></i>
	      Clothing&Shoes
	  </a>
	</div><!--side-->
	<div class="thirteen wide column" id="main">
		<div class="ui breadcrumb segment">
		  <a class="section"><i class="home icon"></i> Home</a>
		  <div class="divider"> / </div>
		  <a class="active section">Node</a>
    </div>
	<!--breadcrumb-->
	<div class="ui segment">
		<div class="ui grid">
			<div class="six wide column" id="photo">
				<div class="ui grid">
					<ul class="hb three wide column" id="small">
						<li class="small"><img src="" alt="" data-src="holder.js/50x50/sky"></li>
						<li class="small"><img src="" alt="" data-src="holder.js/50x50/sky"></li>
						<li class="small"><img src="" alt="" data-src="holder.js/50x50/sky"></li>
					</ul><!--small-->
					<div class="thirteen wide column" id="big">
						<img src="" alt="" data-src="holder.js/340x340/industrial">
					</div><!--big-->
					
				</div>
			</div><!--Photo-->
			<div class="seven wide column" id="attr">
				<a href="" class="bra"><img src="holder.js/75x20/social" alt=""></a>
			</div><!--attr-->
			<div class="three wide column" id="buy">
				buy
			</div><!--cart-->
		</div>
		<!--itemInfo-->
	</div>
	<!--product-->

	</div>
</div>