	<div class="thirteen wide column slideLeft" id="main">
		<div class="ui segment">
			<div class="ui hb header">
				<a href="" class="bra"><img data-src="holder.js/75x20/social" alt=""></a><!--bra-->
				AV / multimedia cable - mini-phone stereo 3.5 mm (M) - RCA (M) - 6 ft
				<div class="sub header">
					<div class="ui horizontal list">
						<div class="item">sku:<strong>h3c06u15</strong>,</div>
						<div class="item">megpartno:<strong>R9-nbs-usid-gp,</strong></div>
						<div class="item">weight:<strong>4.35 lb</strong></div>
					</div>
				</div>
			</div><!--name-->
			<div class="ui stackable grid">
				<div class="six wide column">
					<div class="ppy" id="photo">
						<ul class="ppy-imglist">
						{% for x in (1..5) %}
						 <li><a href="http://images.hookbag.ca/c/10/c492/c492595010ac5155/800"><img src="http://images.hookbag.ca/c/10/c492/c492595010ac5155/500" alt="" data-src="holder.js/450x450/industrial"></a></li>
						 {% endfor %}
						</ul>
            <div class="ppy-outer">
                <div class="ppy-stage">
                    <div class="ppy-nav">
                        <div class="nav-wrap">
                            <a class="ppy-prev" title="Previous image">Previous image</a>
                            <a class="ppy-play" title="Play Slideshow">Play Slideshow</a>
                            <a class="ppy-pause" title="Stop Slideshow">Stop Slideshow</a>
                            <a class="ppy-next" title="Next image">Next image</a>
                        </div>
                    </div>
                    <div class="ppy-counter">
                        <strong class="ppy-current"></strong> / <strong class="ppy-total"></strong> 
                    </div>
                </div>
                <div class="ppy-caption">
                    <span class="ppy-text"></span>
                </div>
            </div>
					</div>
				</div><!--Photo-->
				<div class="seven wide column" id="attr">
					<div class="ui horizontal segment">
						<div class="ui segment price">
							<del>$63.06</del>
							<div class="current"><span>CDN$ 40.75 </span> <em>Save: $22.31(-30%)</em></div>
						</div><!--price-->
						<div class="ui basic segment sold">—— Sold by Hookbag Canada</div>
						<p>Color: <strong>Blue</strong></p>
						<ul class="ui items color">
							<li class="item"><img src="" alt="" data-src="holder.js/40x40/sky"></li>
							<li class="item"><img src="" alt="" data-src="holder.js/40x40/sky"></li>
							<li class="item"><img src="" alt="" data-src="holder.js/40x40/sky"></li>
							<li class="item"><img src="" alt="" data-src="holder.js/40x40/sky"></li>
						</ul><!--color-->
						<p>Size: <strong>LG(14-16 Big Kids)</strong></p>
						<div class="ui hb selection dropdown size">
		          <input type="hidden" name="gender">
		          <div class="default text">LG(14-16 Big Kids)</div>
		          <i class="dropdown icon"></i>
		          <div class="menu ui transition hidden">
		              <div class="item" data-value="LG">LG(14-16 Big Kids)</div>
		              <div class="item" data-value="LG">LG(14-16 Big Kids)</div>
		          </div>
		        </div><!--size-->			
					</div>
				</div><!--attr-->
				<div class="three wide column" id="buy">
					<div class="ui small red message"><i class="info icon"></i>Not available now</div>
					<div class="ui form">
					  <div class="inline field">
					      <label>Qty:</label>
					      <input type="text" value="1">
					  </div>
					  <div class="field price"><strong>CDN$ 40.75</strong> + <span>Free Shipping</span></div>
					  <div class="field">
						  <div class="ui green small fluid button"><i class="cart icon"></i> Add to Cart</div>			  	
					  </div>
					  <div class="field">
						  <div class="ui small fluid button"><i class="checkbox checked icon"></i> Back Order</div>
					  </div>
					  <div class="field">
						  <div class="ui small fluid button"><i class="add icon"></i> Add to Wishlist</div>
					  </div>
					</div>				
				</div><!--buy-->
			</div>
			<!--itemInfo-->
			<div class="ui hb header">FREQUENTLY BOUGHT TOGETHER & ACCESSORIES</div>
			<div class="ui hb horizontal list five column grid itemList" id="acce">
				{%  for x in (1..4) %}
				<div class="item column acce">
					<img src="" data-src="holder.js/80x80/sky" alt="" class="ui avart image">
					<div class="ui hb checkbox">
	          <input type="checkbox" checked>
	          <label></label>
		      </div>
					<div class="content">
						<div class="header">AV / multimedia cable - mini-phone stereo 3.5 mm (M) - RCA (M) - 6 ft</div>
						CDN$ 40.57
					</div>
				</div>
				{% endfor %}
				<div class="item column">
					<div class="ui form inverted segment">
					  <div class="field">Price for Totals <strong>$222.99</strong></div>
					  <div class="field">
						  <div class="ui green small fluid button"><i class="cart icon"></i> Add to Cart</div>			  	
					  </div>
					  <div class="field">
						  <div class="ui small fluid button"><i class="add icon"></i> Add to Wishlist</div>
					  </div>
						
					</div>
				</div>
			</div><!--accessories-->
			<div class="ui hb tabular menu" id="tab1">
				<a class="item active" data-tab="overview">Overview</a>
				<a class="item" data-tab="size">Size Chart</a>
				<a class="item" data-tab="spec">Specifications</a>
				<a class="item" data-tab="policy">Return Policy</a>
			</div><!--tabular-->
			<div class="ui tab active" data-tab="overview">
				<div class="ui hb header">
					<div class="ui left floated header">
						Overview
						<div class="sub header">Shuttle System X50V3L (BLACK) All-In-One 15.6inch Intel Atom D2700 GMA3650 DDR3 SODIMM D-Sub/HDMI 2.5xHDD Black Retail</div>
					</div>
					<div class="ui right floated tiny header">
						<a href="#">Back to Top</a>
					</div>
				</div>
				<table class="ui celled table">
	        <tbody>
		        <tr>
		            <th>Manufacturer</th>
		            <td>Shuttle, Inc</td>
		        </tr>
		        <tr>
		            <th>Product Type</th>
		            <td>All-in-One Computer</td>
		        </tr>
		        <tr>
		            <th>Brand Name</th>
		            <td>SHUTTLE</td>
		        </tr>
		        <tr>
		            <th>Manufacturer Part Number</th>
		            <td>X50V3L BLACK</td>
		        </tr>
		        <tr>
		            <th>Product Name</th>
		            <td>X50V3L All-in-One Computer</td>
		        </tr>
		        <tr>
		            <th>Manufacturer Website Address</th>
		            <td>www.shuttle.com</td>
		        </tr>
		        <tr>
		            <th>Product Model</th>
		            <td>X50V3L</td>
		        </tr>
		        <tr>
		            <th>Product Series</th>
		            <td>x50</td>
		        </tr>
	        </tbody>
		    </table>
			</div><!--overview-->
			<div class="ui tab" data-tab="size">
				<div class="ui hb header">
					<div class="ui left floated header">
						Size Chart
						<div class="sub header">We do not have specific size information for this item, <br>but please see our general size chart below for reference.</div>
					</div>
					<div class="ui right floated tiny header">
						<a href="#">Back to Top</a>
					</div>
				</div>
				<div class="clear"></div>
				<div class="ui hb tabular menu" id="size">
					<a class="item active" data-tab="women">Women</a>
					<a class="item" data-tab="men">Men</a>
					<a class="item" data-tab="kind">Kinds</a>
				</div>
				<div class="ui hb tab active" data-tab="women">
					<div class="ui tiny header">Regular Sizing</div>
					<table class="ui table ">
						<tbody>
							<tr>
								<th>General<br>Size
								</th><th>US Clothing<br>Size
								</th><th>Chest/Bust<br>Measurement<br><small>(in inches)</small>
								</th><th>Waist<br>Measurement<br><small>(in inches)</small>
								</th><th>Hips<br><small>(8" from<br>waist)</small>
								</th></tr>
							<tr class="odd">
								<td>XS</td>
								<td>0<br>2</td>
								<td>32<br>33</td>
								<td>24<br>25</td>
								<td>34.5<br>35.5</td>
							</tr>
							<tr class="even">
								<td>S</td>
								<td>4<br>6</td>
								<td>34<br>35</td>
								<td>26<br>27</td>
								<td>36.5<br>37.5</td>
							</tr>
							<tr class="odd">
								<td>M</td>
								<td>8<br>10</td>
								<td>36<br>37</td>
								<td>28<br>29</td>
								<td>38.5<br>39.5</td>
							</tr>
							<tr class="even">
								<td>L</td>
								<td>12<br>14</td>
								<td>38.5<br>40</td>
								<td>30.5<br>32</td>
								<td>41<br>42.5</td>
							</tr>
							<tr class="odd">
								<td>XL</td>
								<td>16<br>18</td>
								<td>41.5<br>43</td>
								<td>33.5<br>35</td>
								<td>44<br>45.5</td>
							</tr>
						</tbody>
					</table>				
				</div>
				<div class="ui hb tab" data-tab="men"></div>
				<div class="ui hb tab" data-tab="kind"></div>
			</div><!--size-->
			<div class="ui tab" data-tab="spec">
				<div class="ui hb header">
					<div class="ui left floated header">
						Product Specifications
					</div>
					<div class="ui right floated tiny header">
						<a href="#">Back to Top</a>
					</div>
				</div>
				<table class="ui celled table">
					<tbody>
					<tr>
					    <th colspan="2" class="pth">Interfaces/Ports</th>
					</tr>
					<tr>
					    <th>Network (RJ-45)</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th>HDMI</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th>VGA</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th>Number of USB 2.0 Ports</th>
					    <td>4</td>
					</tr>
					<tr>
					    <th>Total Number of USB Ports</th>
					    <td>4</td>
					</tr>
					<tr>
					    <th>Audio Line In</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th>Audio Line Out</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th colspan="2" class="pth">Physical Characteristics</th>
					</tr>
					<tr>
					    <th>Weight (Approximate)</th>
					    <td>6.46 lb</td>
					</tr>
					<tr>
					    <th>Form Factor</th>
					    <td>Desktop</td>
					</tr>
					<tr>
					    <th>Depth</th>
					    <td>1.7"</td>
					</tr>
					<tr>
					    <th>Height</th>
					    <td>12.9"</td>
					</tr>
					<tr>
					    <th>Width</th>
					    <td>15.4"</td>
					</tr>
					<tr>
					    <th>Color</th>
					    <td>Black</td>
					</tr>
					<tr>
					    <th colspan="2" class="pth">I/O Expansions</th>
					</tr>
					<tr>
					    <th>Number of Total Expansion Bays</th>
					    <td>1</td>
					</tr>
					<tr>
					    <th>Number of Internal 2.5" Bays</th>
					    <td>1</td>
					</tr>
					<tr>
					    <th colspan="2" class="pth">Memory</th>
					</tr>
					<tr>
					    <th>Memory Technology</th>
					    <td>DDR3 SDRAM</td>
					</tr>
					<tr>
					    <th>Maximum Memory</th>
					    <td>4 GB</td>
					</tr>
					<tr>
					    <th>Number of Total Memory Slots</th>
					    <td>2</td>
					</tr>
					<tr>
					    <th>Memory Card Supported</th>
					    <td>Secure Digital (SD) Card;Secure Digital High Capacity (SDHC);Secure Digital Extended Capacity (SDXC);</td>
					</tr>
					<tr>
					    <th>Memory Card Reader</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th colspan="2" class="pth">Network &amp; Communication</th>
					</tr>
					<tr>
					    <th>Ethernet Technology</th>
					    <td>Gigabit Ethernet</td>
					</tr>
					<tr>
					    <th>Wi-Fi Standard</th>
					    <td>IEEE 802.11b/g/n</td>
					</tr>
					<tr>
					    <th>Wi-Fi</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th colspan="2" class="pth">Power Description</th>
					</tr>
					<tr>
					    <th>Maximum Power Supply Wattage</th>
					    <td>40 W</td>
					</tr>
					<tr>
					    <th colspan="2" class="pth">Software</th>
					</tr>
					<tr>
					    <th>Operating System</th>
					    <td>No</td>
					</tr>
					<tr>
					    <th colspan="2" class="pth">Processor &amp; Chipset</th>
					</tr>
					<tr>
					    <th>Processor Manufacturer</th>
					    <td>Intel</td>
					</tr>
					<tr>
					    <th>Processor Core</th>
					    <td>Dual-core (2 Core)</td>
					</tr>
					<tr>
					    <th>Number of Processors Supported</th>
					    <td>1</td>
					</tr>
					<tr>
					    <th>Chipset Manufacturer</th>
					    <td>Intel</td>
					</tr>
					<tr>
					    <th>64-bit Processing</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th>Cache</th>
					    <td>1 MB</td>
					</tr>
					<tr>
					    <th>Processor Type</th>
					    <td>Atom</td>
					</tr>
					<tr>
					    <th>Processor Speed</th>
					    <td>1.86 GHz</td>
					</tr>
					<tr>
					    <th>Chipset Model</th>
					    <td>NM10 Express</td>
					</tr>
					<tr>
					    <th>Processor Model</th>
					    <td>D2550</td>
					</tr>
					<tr>
					    <th>Number of Processors Installed</th>
					    <td>1</td>
					</tr>
					<tr>
					    <th>Hyper-Threading</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th colspan="2" class="pth">Display &amp; Graphics</th>
					</tr>
					<tr>
					    <th>Screen Mode</th>
					    <td>HD</td>
					</tr>
					<tr>
					    <th>Screen Size</th>
					    <td>15.6"</td>
					</tr>
					<tr>
					    <th>Screen Resolution</th>
					    <td>1366 x 768</td>
					</tr>
					<tr>
					    <th>Display Screen Type</th>
					    <td>Active Matrix TFT Color LCD</td>
					</tr>
					<tr>
					    <th>Graphics Controller Model</th>
					    <td>Graphics Media Accelerator 3650</td>
					</tr>
					<tr>
					    <th>Graphics Controller Manufacturer</th>
					    <td>Intel</td>
					</tr>
					<tr>
					    <th>Graphics Memory Technology</th>
					    <td>DDR3 SDRAM</td>
					</tr>
					<tr>
					    <th>Graphics Memory Capacity</th>
					    <td>384 MB</td>
					</tr>
					<tr>
					    <th>Aspect Ratio</th>
					    <td>16:9</td>
					</tr>
					<tr>
					    <th>Graphics Memory Accessibility</th>
					    <td>Shared</td>
					</tr>
					<tr>
					    <th>Touchscreen</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th>Backlight Technology</th>
					    <td>LED</td>
					</tr>
					<tr>
					    <th colspan="2" class="pth">Controllers</th>
					</tr>
					<tr>
					    <th>Controller Type</th>
					    <td>Serial ATA/300</td>
					</tr>
					<tr>
					    <th colspan="2" class="pth">Built-in Devices</th>
					</tr>
					<tr>
					    <th>Webcam</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th>Microphone</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th colspan="2" class="pth">Detail Specifications</th>
					</tr>
					<tr>
					    <th>VGA</th>
					    <td>Yes</td>
					</tr>
					<tr>
					    <th>Color</th>
					    <td>Black</td>
					</tr>
					<tr>
					    <th>Form Factor</th>
					    <td>Desktop</td>
					</tr>
					<tr>
					    <th>Depth</th>
					    <td>1.7"</td>
					</tr>
					<tr>
					    <th>Height</th>
					    <td>12.9"</td>
					</tr>
					<tr>
					    <th>Width</th>
					    <td>15.4"</td>
					</tr>
					<tr>
					    <th>Operating System</th>
					    <td>No</td>
					</tr>
					<tr>
					    <th colspan="2" class="pth">Key Features</th>
					</tr>
					<tr>
					    <th>Product Type</th>
					    <td>All-in-One Computer</td>
					</tr>
					<tr>
					    <th>Operating System</th>
					    <td>No</td>
					</tr>
					<tr>
					    <th>Form Factor</th>
					    <td>Desktop</td>
					</tr>
					</tbody>
				</table>
			</div><!--spec-->
			<div class="ui tab vertical segment" id="policy" data-tab="policy">
				<div class="ui block inverted black header">General Return Policy</div>
				{% for x in (1..6) %}
				<div class="ui small header">01/Free Return</div>
				<p>Hookbag offers you hassle free returns for a full refund or replacement within 45 days from the delivery date (special products excluded).</p>
				{% endfor %}
				<div class="ui block inverted black header">Return Procedure</div>
				<div class="ui four column grid">
					{% for x in (1..4) %}
					<div class="column">Visit our Online Returns Center and get a return mailing label and return mailing authorization. We will inform you within one business day whether your RMA is valid or not.</div>
					{% endfor %}
				</div>
				<div class="ui fluid basic button"><i class="forward mail icon"></i> Return Policy</div>
			</div><!--policy-->
			<!--tab-->
			<div class="ui hb header">BEST SELLER</div>
			{% include page/mod/itemList.html %}
			<!--bestSeller-->

		</div>
		<!--product-->

