<div class="container bgGray" id="un-item">
  <div class="row">
    <div class="col-md-2 un-side active">
      <div id="un-sideLeft" class="un-sideLeft0 un-sideLeft open">
      {% include page/node/mod/side0.html %}
      </div>
      <div id="un-sideLeft2" class="un-sideLeft0 un-sideLeft left">
      {% include page/node/mod/side2.html %}
      </div>

    </div>

    <div class="col-md-10 un-main active">
      {% include page/header/mod/breadcrumb.html %}
      <div class="un-nodeMain pt10">
        <div class="un-itemInfo">
          <div class="col-md-4">
            {% include page/item/mod/photo/photo.html %}       
          </div>
          <!--the img-->
          <div class="col-md-5">

            {% include page/item/mod/item/info.html %}
            {% include page/item/mod/item/price.html %}

            <div class="un-used mt10">The product is <span class="text-warning">used. </span><span class="un-sold"> Sold by Hookbag Canada</span></div>
            


            
            {% include page/item/mod/item/filter.html %}

          </div>
        	<div class="col-md-3">
            {% include page/item/mod/item/button.html %}
        	</div>

          <div class="col-md-12">
            {% include page/item/mod/item/pack.html %}
          </div>  

          <div class="col-md-12">
            {% include page/item/mod/attr/tab.html %}
          </div>

          <div class="clearfix mb10">
        		{% include page/item/mod/list/best.html %}
          </div>
        </div>          
      </div>
    </div>
  </div>
</div>
