.hb.union.banner {
    background-color: #1cadc9;
    img {
        height: 370px;
        width: 1140px;
    }
}

.hb.union.feature {
    background-color: #178cec;
    min-height: 300px;
    .img-circle {
        widows: 150px;
        height: 150px;
    }
    h2 {
        margin: 0px;
    }
}

.hb.union.step {
    background-color: #46a4f0;
    min-height: 300px;
    h2 {
        margin: 0px;
    }
}

.hb.union {
    .container {
        width: 1140px;
        color: #fff;
    }
}

.hb.union.facebook {
    background-color: #3a5998;
    text-align: center;
    h2 {
        font-size: 30px;
        line-height: 40px;
    }
    p {
        font-size: 18px;
        line-height: 40px;
    }
    img {
        height: 178px;
        margin: 30px 0px;
    }
}