
@link:#4288ca;
@linkbg:#0e71c0;
#hb{
	background-color:#F1F1F1;
	font-family:"Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
	font-size:87.5%;
	body{
		margin:0;
		padding:55px 0 0 0;
	}
	a{
		color:@link;
		text-decoration:none;
		&:hover{
			color:darken(@link,20%);
		}
	}
	.clear{
		clear:both;
	}
	.hb.header{
		clear:both;
		margin:5px 0 10px;
	}
}
.hb{
/*******************************
           hb  
*******************************/
	&.grid>.column{
		padding-left:1%;
		padding-right:1%;
	}
	.segment{
		border-radius:0;
		margin:0;
	}
	ul.hb{
		list-style-type:none;
	}
/*******************************
           header  
*******************************/
	&#header{
		border-radius:0;
		position:fixed;
		top:0;
		left:0;
		z-index:999;
		width:100%;
		.hb.logo{
			width:200px;
			height:45px;
			margin-top:5px;
			background:url(/img/logo.png);
		}
		.launch{
			display:none;
			margin-left:1rem;
		}
		.menu.right{
			padding:0;
		}
		.item{
			padding:20px;
			&.hb.search{
				width:640px;
			}
		}
	}
/*******************************
           side
*******************************/
	#side{
		&.side{
			border-radius:0;
			border-top:none;
			padding:0;
			&.left{
				margin-top:0;
				margin-bottom:0;
				#nav.nav.main{
					.menu{
						a{
							display:block;
						}
					}
				}
				.nav{
					margin:0;
					padding:0;
					position:fixed;
					z-index:1;
					width:18.75%;
					background:#fff;
					transition:margin .2s;
					&>.item{
						padding:0 2rem;
						line-height:2rem;
						border-bottom:1px dotted #ddd;
						width:auto;
					}
					&>.menu{
						width:100%;
						border-radius:0;
						color:#000;
						text-transform:uppercase;
						margin:0;
						&.slideLeft{
							padding:10px 0;
							text-align:center;
							cursor:pointer;
						}
						.close{
							display:none;
						}
						&>.item{
							margin:0;
							padding:1.5rem 1rem;
							cursor:pointer;
							&:first-child{
								border-radius:0;
							}
							&:hover{
								box-shadow: -.2em 0 0 inset;
								background: #f8f8f8;
							}
						}
						&>a.item{
							padding:1.5rem 0 1.5rem 1rem;
							text-align:left;
							color:#000;
							border-radius:0;
						}
						.icon{
							&.mobile{
								font-size: 1.5rem;
								margin-top: -1rem;
								margin-left: -0.5rem
							}
						}
					}
					&#subNav{
						margin-left:-18.75%;
						overflow-y:auto;
						.sub.menu a{
							font-size:1rem;
							padding:15px 10px 15px 33px;
							display:block;
							&:hover{
								text-decoration:underline;
							}
						}
					}
					&.attr{
						&>.item{
							width:100%;
							padding:0;
							a{
								padding:.5rem 0 .5rem 1rem;
								display:block;
								color:#454545;
								transition:background .2s;
								&:hover{
									box-shadow: -.2em 0 0 inset;
									background: #f8f8f8;
								}
							}
							.title{
								display:block;
								padding:.5rem;
								&.active .icon{
									transform:rotate(90deg);
									-webkit-transform:rotate(90deg);
									-moz-transform:rotate(90deg);
								}
								&:hover{
									color:@link;
								}
							}
							&>.sNav {
								padding-top:0;
								li{
									list-style-type:none;
									line-height:2rem;
									transition:background .2s;
								}
							}
						}
					}
				}
			}/*left*/
			&.slideLeft{
				#nav{
					width:5%;
				}
				#nav > .menu{
					span.item{
						display:none;
					}
					&:not(.slideLeft):hover{
						width:215px;
						.item{
							font-size:1rem;
						}
					}
					.item{
						font-size:0;
						width:100%;
						padding:1rem;
						.icon{
							font-size:1.5rem;
							margin:0 0 0 .5rem;
							float:none;
							&.mobile{
								margin:0;
								font-size:2rem;
							}
						}
					}
					&.slideLeft {
						.open{
							display:none;
						}
						.close{
							display:block;
							.icon{
								font-size:2rem;
							}
						}
					}

				}
			}
			&.subNav #subNav{
				margin-left:0 !important;
			}
		}
	}
/*******************************
           main
*******************************/
	#main{
		margin:10px 0 0;
		float:right;
		.banner{
			background-color:#fff;
			margin-bottom:10px;
		}
		&.slideLeft{
			width:95%;
		}
		.breadcrumb.segment{
			box-shadow:none;
			width:100%;
			margin-bottom:10px;
			display:none;
			.active{
				color:#666;
			}
		}
	}
/*******************************
           item
*******************************/
	.ppy-placeholder{
		position:relative;
	}
	#photo{
		margin-top:0;
		position:relative;
		width:100%;
		img{
			max-width:100%;
		}
		.ppy-outer{
			display:none;
			padding:10px;
			border:1px solid #e1f1a1;
			border-radius:10px;
			background:#eff9c7;
		}
		&.ppy-active{
			width:100%;
			float:left;
			margin:0;
			.ppy-outer{
				display:block;
			}
		}
		.ppy-stage{
			width:400px;
			height:400px;
			border-radius:5px;
			cursor:pointer;
			background-repeat:no-repeat !important;
			background-position:center !important;
			position:relative;
		}
		.ppy-caption,.ppy-captionwrap{
			overflow:hidden;
		}
		.ppy-hidden{
			display:none !important;
		}
		.ppy-imglist{
			width:100%;
			display:block;
			overflow:hidden;
			li{
				padding:10px;
				background:#fff;
				list-style:none;
				float:left;
				width:400px;
				height:400px;
				display:block;
				margin:0 10px 10px 0;
				a img{
					display:block;
					border:0;
				}
			}
		}
		.ppy-extcaption{
			width:400px;
			display:block;
		}
		.ppy-loading{
	    background-image:url(../img/loader-small.gif);
	    background-repeat:no-repeat;
	    background-position:center;
		}
		.ppy-counter{
	    background: #fff;
	    color:#333;
	    padding:0 5px;
	    font-size:0.8em;
	    position:absolute;
	    bottom:0;
	    right:0;
	    opacity:0.7;
	    border-radius:5px 0 0 0;
		}
		.ppy-nav{
			a{
		    text-indent:-900em;
		    height:22px;
		    width:22px;
		    display:inline-block;
		    position:absolute;
		    top:50%;
		    margin-top:-11px;
		    &.ppy-prev{
			    left:0;
			    background:url(../img/prev.png) no-repeat center;
		    }
		    &.ppy-next{
			    right:0;
			    background:url(../img/next.png) no-repeat center;
		    }
			}
		}

	}/*photo*/

	#attr{
		padding-right:0;
		clear:both;
		.hb.header{
			text-transform:uppercase;
			.item{
				font-size:11px;
			}
		}
		.price{
			color:#aaa;
			.current span{
				font-size:2rem;
				color:#000;
			}
		}
		.color{
			.item{
				width:auto;
				min-height:0;
			}
		}
		.size{
			margin-left:38px;
		}
	}/*attr*/
	#acce{
		.column.acce{
			position:relative;
			&:before{
				content: "+";
				height: 0;
				width: 20px;
				display: block;
				color: rgb(170, 170, 170);
				font-size: 2rem;
				position: absolute;
				right: 10%;
				top: 20%;
			}
			&:nth-child(4):before{
				content:"=";
			}
		}
	}
	#buy{
		.price{
			color:#aaa;
			strong{
				color:#A94442;
			}
		}
		.form{
			input{
				width:100%;
				text-align:center;
			}
		}
	}/*buy*/

	#policy{
		.grid .column{
			position:relative;
			&:after{
				display: block;
				height: 0;
				width: 15px;
				position: absolute;
				right: 0;
				top: 50%;
				font-weight: bold;
				content: "→";
				font-size: 1.5rem;
				margin-top: -1rem;
			}	
			&:last-child:after{
				display:none;
			}		
		}
	}
	.hb.itemList{
		.item{
			margin:0;
			padding:0;
			position:relative;
			.header{
				margin-top:5px;
				margin-bottom:10px;
				color:#454545;
				max-height:3.6em;
				overflow:hidden;
			}
			.price{
				color:#A94442;
				del{
					color:#aaa;
				}
			}
			&:hover .header{
				color:#666;
				text-decoration:underline;
			}
		}
	}
	.hb.itemList2{
		margin-top:0;
		font-size:1rem;
		.item{
			img{
				max-width:(50%-14);
			}
			.content{
				width:50%;
			}
		}
	}/*list*/
/*******************************
           index
*******************************/
	#index{
		margin:0;
		&>.column{
			margin-top:0;
			padding:0;
			&#side{
				padding-left:10px;
				.segment >.header{
					margin-top:0;
				}
			}
		}
		.header{
			font-size:1rem;
			.header{
				margin-bottom:5px;
				line-height:2;
				&.left{
					font-size:2em;
					line-height:1;
				}
			}
		}
		#deals{
			.hb.header{
				margin-top:0;
				.sub.header{
					text-transform:uppercase;
					line-height:2.8rem;
				}			
			}
			&.inverted{
				&>.header{
					color:#000;
				}
			}
		}
		#cate{
			.item{
				img{
					float:none;
					margin:0 auto;
				}
			}
		}
	}
/*******************************
           login
*******************************/
	#login{
		label{
			padding-left:0;
		}
		.hb.horizontal.divider{
			&:before,&:after{
				width:42%;
			}
		}
		.button{
			margin-bottom:1rem;
		}
	}	
/*******************************
           footer
*******************************/
	#footer{
		color:#454545;
		margin-top:10px;
		a{
			color:#454545;
			&:hover{
				text-decoration:underline;
			}
		}
		.header{
			text-transform:uppercase;
		}
		.vertical.segment{
			padding-left:1rem;
		}
	}

}

@media (max-width:1200px){
	.hb#header .right.menu>.search{
		width:500px;
	}
}
@media (max-width:1024px){
	.hb{
		&#header{
			.launch{
				display:inline-block;
			}
			.right.menu>.search{
				width:auto;
			}
			.item{
				padding:20px 10px;
			}
		}
		#side.side.left{
			margin-left:-260px;
			width:260px;
			&.open{
				margin-left:0;
			}
			.nav{
				width:260px;
				&#subNav{
					margin-left:-260px;
				}
				.slideLeft{
					display:none;
				}
			}
			&.slideLeft{
				#nav{
					width:60px;
					&#subNav{
						margin-left:-60px;
					}
				}
			}
		}
		#main{
			width:100% !important;
			&.open{
				margin-right:-260px;
				&.slideLeft{
					margin-right:-60px;
				}
			}
			#itemPic{
				width:100%;
			}
			#attr,#buy{
				width:50%;
			}
		}
		#side.side.left,#main{
			transition:margin .2s;
		}
	}

}
@media (max-width:768px){
	.hb#header .right.menu>.search{
	
	}
}
