# Ignore docs files
_gh_pages
_site
.ruby-version

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

_temp/
style/css/

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
node_modules

#style/**
style/**/bower.json
style/**/package.json
style/**/README.md
style/**/CONTRIBUTING.md
style/**/Gemfile
style/**/Gemfile.*
style/**/_config.yml
style/**/component.json
style/**/composer.json
style/**/Gruntfile.js
style/**/.*
style/**/sass/
style/**/scss/
style/v3/css/mod.css
style/v3/css/un.css
style/base/bootstrap/css/*.css

#style/jquery
style/base/jquery/jquery-*.js
style/base/jquery/*.map

#modernizr
style/base/modernizr/feature-detects/
style/base/modernizr/media/
style/base/modernizr/test/
style/base/modernizr/grunt.js

#animate.css
style/base/animate.css/source/
style/base/animate.css/README.md

#font-awesome
style/base/font-awesome/less/
style/base/font-awesome/src/

#jquery select2
style/base/select2/select2_locale_*.js
style/base/select2/*.sh
style/base/select2/LICENSE

#jQuery-menu-aim
style/base/jQuery-menu-aim/*.png
style/base/jQuery-menu-aim/example/

