<div class="un-productAttr">
  <div class="un-proSelect">Color: <strong>R TNF Black 2</strong></div>

  <ul class="un-selectDiv un-selectSize list-inline">
    <li class="un-selectLi un-select un-backOrder ">
      <a href=""><img src="holder.js?40x40"> </a>
    </li>
    {% for x in (1..4) %}
    <li class="un-selectLi un-backOrder unavailable">
      <a href=""><img src="holder.js?40x40"> </a>
    </li>
    {% endfor %}
  </ul>

  <div class="un-proSelect">Size: <strong>LG (14-16 Big Kids)</strong></div>

  <select class="form-control input-sm">
    {% for x in (1..4) %}
    <option>LG (14-16 Big Kids)</option>
    {% endfor %}
  </select>
</div>