<div class="container ug-account" id="sticky">

	<div id="" class="row">
		<div class="col-md-12">
			  <h3 class="un-title un-spc-title">RMA Status</h3>
				<a href="rma2.html" class="btn btn-primary btn-xs pull-right un-btn"><span class="glyphicon glyphicon-plus"></span> <strong> Create a new RMA</strong></a>
			  
				<table class="table table-striped fz11">
					<thead>
						<tr>
						<th>Order #</th>
						<th>RMA #</th>
						<th>Type</th>
						<th>Status</th>
						<th>Time</th>
						</tr>
					</thead>
					<tbody>
					  {% for x in (1..4) %}
						<tr>
							<td>1113817173441535</td>
							<td>1213817173441535</td>
							<td>Returns</td>
							<td>Pending</td>
							<td>Mon, 14 Oct 2013 03:37:04 -0400</td>	
						</tr>
					  {% endfor %}
					</tbody>
				</table>
			</div>



		</div>

	</div>

