<div class="container ug-account">

	<div id="" class="row">
		<div class="col-md-3">
			{% include page/login/mod/mya.html %}
		</div>
		<div class="col-md-9">

			<div class="panel panel-default ug-account-list">
			  <div class="panel-heading">
			  <a href="rma2.html" class="pull-right"><small>Returns Policy</small></a>
			  <strong>Return Merchandise Authorization Application</strong>
			  </div>
			  <div class="panel-body">
				<form role="form">
				<p>Select RMA Type:</p>
				<div class="radio">
				  <label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
					Returns
				  </label>
				</div>
				<div class="form-group radio">
				  <label>
					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					Replacement
				  </label>
				</div>
				<div class="form-group">
				  <div class="col-sm-12">
					<a class="btn btn-primary btn-sm" href="rma4.html">Next >></a>
				  </div>
				</div>
				</form>
			  </div>
			</div>



		</div>

	</div>

