<div class="container un-account">

	<div id="" class="row">
		<div class="col-md-12">
			  <h3 class="un-title un-spc-title"><a href="rma2.html" class="pull-right"><small><span class="glyphicon glyphicon-share-alt"></span> Returns Policy</small></a>
			  Return Merchandise Authorization Application</h3>
				<form role="form">
				<p>Select RMA Type:</p>
				<div class="radio">
				  <label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
					Returns
				  </label>
				</div>
				<div class="form-group radio">
				  <label>
					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					Replacement
				  </label>
				</div>
				<div class="form-group">
				  <div class="col-sm-12">
					<a class="btn btn-primary btn-sm un-btn" href="rma4.html">Next >></a>
				  </div>
				</div>
				</form>
			</div>



		</div>

	</div>

