<div class="container un-account" id="sticky">
  <h3 class="un-title un-spc-title">Replacement</h3>
	<div id="" class="row">
		<div class="col-md-6">
			<div class="alert alert-warning"><span class="glyphicon glyphicon-info-sign"></span>　You have already applied for RMA.Below is your RMA history:</div>
			<table class="table table-bordered  table-striped fz11">
				<thead>
					<tr>
					<th></th>
					<th>RMA Qty</th>
					<th>SKU</th>
					<th>Title</th>
					<th>Post Time</th>
					<th>Type</th>
					</tr>
				</thead>
				<tbody>
				  {% for x in (1..4) %}
					<tr>
						<td></td>
						<td>1</td>
						<td>H3C0CSPDW</td>
						<td><a href="rma3.html">WD My Book Studio 4TB Mac External Hard Drive Storage USB3.0</a></td>
						<td>Mon, 14 Oct 2013 03:37:04 -0400</td>	
						<td>Returns</td>	
					</tr>
				  {% endfor %}
				</tbody>
			</table>
		</div>
		<!--the RMA history-->
		<div class="col-md-6">
			<table class="table table-bordered  table-striped fz11">
				<thead>
					<tr>
					<th></th>
					<th>RMA Qty</th>
					<th>SKU</th>
					<th>Title</th>
					<th>Serial No.{Optional}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" checked></td>
						<td><input type="text" class="form-control" style="width:40px;" value="1"> <=8</td>
						<td>H3C0CSPDW</td>
						<td><a href="rma3.html">WD My Book Studio 4TB Mac External Hard Drive Storage USB3.0</a></td>
						<td><textarea class="form-control" rows="3" cols="100">WD My Book Studio 4TB Mac External Hard Drive Storage USB3.0</textarea></td>	
					</tr>
				</tbody>
			</table>
			
			<div class="panel panel-default">
			  <div class="panel-heading">Reason</div>
			  <div class="panel-body">
				<textarea class="form-control" rows="6">WD My Book Studio 4TB Mac External Hard Drive Storage USB3.0</textarea>
			  </div>
			</div>
			<a href="rma5.html" class="btn btn-primary btn-sm un-btn">Next >></a>
		</div>
		<!--the Replacement-->

	</div>

</div>

