<div class="container un-account" id="sticky">

	<div id="" class="row">
		<div class="col-md-12">
			  <h3 class="un-title un-spc-title">Replacement Confirm</h3>
				<table class="table table-bordered  table-striped fz11">
					<thead>
						<tr>
						<th colspan="4">RMA Product(s)[<a href="rma4.html">change</a>]</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>H3C0CSPDW</td>
							<td><a href="rma3.html">WD My Book Studio 4TB Mac External Hard Drive Storage USB3.0</a></td>
							<td>WD My Book Studio 4TB Mac External Hard Drive Storage USB3.0</td>	
						</tr>
					</tbody>
				</table>

				<div class="panel panel-default">
				  <div class="panel-heading">Reason[<a href="rma4.html">edit</a>]</div>
				  <div class="panel-body">
					WD My Book Studio 4TB Mac External Hard Drive Storage USB3.0
				  </div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default c">
						  <div class="panel-heading">Ship To</div>
						  <div class="panel-body">
							<address>
							  22 Antares Dr, Unit F<br>
							  Ottawa , ONTARIO<br>
							  Canada K2E7Z6
							</address>
						  </div>
						</div>
					
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">Ship From [<a href="">Edit</a>]</div>
						  <div class="panel-body">
							<address>
							  david eee li<br>
							  suite 700 rideau ,Unit ee<br>
							  M1W 2X3 tttt,ONTARIO<br/>
							  Phone:(666)860-9902 Ext.1
							</address>
						  </div>
						</div>
					
					</div>
				</div>
				<a href="rma6.html" class="btn btn-primary btn-sm un-btn">Next >></a>
			</div>


		</div>

	</div>

