<div class="container un-account">

	<div id="" class="row">
		<div class="col-md-12">

			  <h3 class="un-title un-spc-title">General Settings</h3>
				<form class="form-horizontal col-md-6 col-md-offset-1" role="form">
				  <div class="form-group">
					<label for="NickName" class="col-sm-2 control-label"><strong class="text-danger"> * </strong> Nick Name
</label>
					<div class="col-sm-10">
					  <input type="email" class="form-control input-sm" id="NickName" placeholder="NickName" required="required">
					</div>
				  </div>
				  <div class="form-group">
					<label for="timezone" class="col-sm-2 control-label">Time Zone</label>
					<div class="col-sm-10">
					  <select name="timezone" id="timezone" class="form-control input-sm">
						<option value="America/Blanc-Sablon" label="America/Blanc-Sablon" selected="selected">America/Blanc-Sablon</option>
						<option value="America/Cambridge_Bay" label="America/Cambridge_Bay">America/Cambridge_Bay</option>
						<option value="America/Coral_Harbour" label="America/Coral_Harbour">America/Coral_Harbour</option>
						<option value="America/Dawson" label="America/Dawson">America/Dawson</option>
						<option value="America/Dawson_Creek" label="America/Dawson_Creek">America/Dawson_Creek</option>
						<option value="America/Edmonton" label="America/Edmonton">America/Edmonton</option>
						<option value="America/Glace_Bay" label="America/Glace_Bay">America/Glace_Bay</option>
						<option value="America/Goose_Bay" label="America/Goose_Bay">America/Goose_Bay</option>
						<option value="America/Halifax" label="America/Halifax">America/Halifax</option>
						<option value="America/Inuvik" label="America/Inuvik">America/Inuvik</option>
						<option value="America/Iqaluit" label="America/Iqaluit">America/Iqaluit</option>
						<option value="America/Moncton" label="America/Moncton">America/Moncton</option>
						<option value="America/Montreal" label="America/Montreal">America/Montreal</option>
						<option value="America/Nipigon" label="America/Nipigon">America/Nipigon</option>
						<option value="America/Pangnirtung" label="America/Pangnirtung">America/Pangnirtung</option>
						<option value="America/Rainy_River" label="America/Rainy_River">America/Rainy_River</option>
						<option value="America/Rankin_Inlet" label="America/Rankin_Inlet">America/Rankin_Inlet</option>
						<option value="America/Regina" label="America/Regina">America/Regina</option>
						<option value="America/Resolute" label="America/Resolute">America/Resolute</option>
						<option value="America/St_Johns" label="America/St_Johns">America/St_Johns</option>
						<option value="America/Swift_Current" label="America/Swift_Current">America/Swift_Current</option>
						<option value="America/Thunder_Bay" label="America/Thunder_Bay">America/Thunder_Bay</option>
						<option value="America/Toronto" label="America/Toronto">America/Toronto</option>
						<option value="America/Vancouver" label="America/Vancouver">America/Vancouver</option>
						<option value="America/Whitehorse" label="America/Whitehorse">America/Whitehorse</option>
						<option value="America/Winnipeg" label="America/Winnipeg">America/Winnipeg</option>
						<option value="America/Yellowknife" label="America/Yellowknife">America/Yellowknife</option>
					</select>
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					  <button type="submit" class="btn btn-primary btn-sm un-btn">submit</button>
					</div>
				  </div>
				</form>

			</div>



		</div>

	</div>

