<div class="container un-account" id="sticky">

	<div id="" class="row">
		<div class="col-md-12">

			  <h3 class="un-title un-spc-title">Testimonial</h3>
				<table class="table fz11">
					<tbody>
						<tr>
							<td>Review Type:</td>
							<td>
								<div class="control-group">				            
									<div class="controls">
										<label class="checkbox-inline">
										<input id="10" type="checkbox" value="10" name="testimonial[]"> Website </label>
										<label class="checkbox-inline">
										<input id="20" type="checkbox" value="20" name="testimonial[]"> Product </label>
										<label class="checkbox-inline">
										<input id="30" type="checkbox" value="30" name="testimonial[]"> Customer Service </label>
										<label class="checkbox-inline">
										<input id="40" type="checkbox" value="40" name="testimonial[]"> Freight </label>
									</div>
								</div>

							</td>
						</tr>
						<tr>
							 <td>Message:</td>
							 <td><textarea name="message" id="message" cols="50" rows="5" class="form-control input-sm"></textarea></td>
						</tr>
						<tr>	
							  <td></td>
							  <td>
								  <button class="btn btn-primary btn-sm col-md-3 un-btn" type="submit" name="Submit" >Submit</button>
							  </td>
						</tr>
					</tbody>
				</table>
			</div>



		</div>

	</div>

