<div class="container un-account">

	<div id="" class="row">
		<div class="col-md-12">

			  <h3 class="un-title un-spc-title">Ticket</h3>
				<a href="ticket3.html" class="btn btn-primary btn-xs pull-right un-btn"><span class="glyphicon glyphicon-plus"></span> <strong> Add</strong></a>
			  
				<table class="table table-striped fz11">
					<thead>
						<tr>
						<th>Type</th>
						<th>Status</th>
						<th>Creation Time</th>
						<th>Last Reply</th>
						</tr>
					</thead>
					<tbody>
					  {% for x in (1..4) %}
						<tr>
							<td><a href="ticket2.html">General Inquiry</a></td>
							<td>Waiting</td>
							<td>Mon, 14 Oct 2013 03:37:04 -0400</td>
							<td>Mon, 14 Oct 2013 03:37:04 -0400</td>	
						</tr>
					  {% endfor %}
					</tbody>
				</table>
			</div>



		</div>

	</div>

