<div class="container un-container">

  <h3 class="un-title un-spc-title list-inline" style="padding-bottom:0px;">Ink & Toner Finder</h3>

  <div class="container un-grid" data-spy="affix" data-offset-top="310" class="affix-top">
	<p>What does my machine use? Find it here:</p>
	<ul class="clearfix mb10 un-select">
	<li class="col-md-4 un-gridSelect">
		<script id="script_f1">
		  $(document).ready(function() {
			$("#finder1").select2({
			placeholder: "Select a State",
			allowClear: true
			});
		  });
		</script>
		<select id="finder1" class="populate placeholder">
		  <option value="">1)Select Brand</option>
		  <option value="">222</option>
		  <option value="">3333</option>
		  <option value="">4444</option>
		  <option value="">5555</option>
		  <option value="">1a1a1a1a1</option>
		  <option value="">1b1b1b</option>
		  <option value="">2c2c2c2c</option>
		  <option value="">3d3d3d</option>
		  <option value="">4f4r4f</option>
		</select>
	</li>
	<li class="col-md-4 un-gridSelect">
		<script id="script_f2">
		  $(document).ready(function() {
			$("#finder2").select2({
			placeholder: "Select a State",
			allowClear: true
			});
		  });
		</script>
		<select id="finder2" class="populate placeholder">
		<option></option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
	  </select>
	</li>
	<li class="col-md-4 un-gridSelect">
		<script id="script_f3">
		  $(document).ready(function() {
			$("#finder3").select2({
			placeholder: "Select a State",
			allowClear: true
			});
		  });
		</script>
		<select id="finder3" class="populate placeholder">
		<option></option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
	  </select>

	</ul>
	<div class="text-muted mb10"><strong style="font-size:15px;">共有 </strong>1000 <small>product(s)</small> 符合</div>
  </div>
	


 
  <div class="row">
   
    <div class="col-md-12 pull-right un-main">

      <div class="row">
        {% for x in (1..102) %}
        <div class="col-md-4 mt10 mb10">
          {% include page/node/mod/item.html %}
        </div>      
        {% endfor %}
		<div id="un-gridList"></div>
      </div>      
        <div id="un-gridMore" class="tac mb10"><span class="btn btn-default">View More</span></div>

    </div><!--the gridList-->
    
  </div>
</div>
