<div class="container un-container">

  <h3 class="un-title un-spc-title list-inline" style="padding-bottom:0px;">Computer Systems</h3>

  <div class="container row un-grid" data-spy="affix" data-offset-top="310" class="affix-top">
    <div class="col-md-3">
		  <div class="text-muted"><strong style="font-size:15px;">共有 </strong>1000 <small>product(s)</small> 符合</div>
    </div>
    <div class="col-md-9">
      <div class="mb10 un-selectLabel">
        {% for x in (1..1) %}
        <span class="label label-default">人气降序 <sup>X</sup></span>
        <span class="label label-primary">HP 品牌 <sup>X</sup></span>
        <span class="label label-success">4G 内存 <sup>X</sup></span>
        <span class="label label-info">价格 10~500 <sup>X</sup></span>
        <span class="label label-warning">红色 <sup>X</sup></span>
        <span class="label label-danger">排除 GT650 <sup>X</sup></span>
        {% endfor %}
      </div>
    </div>
	<ul class="clearfix mb10 un-select">
	<li class="col-md-2 un-gridSelect">
	  <script id="script_e1">
		  $(document).ready(function() {
			$("#e1").select2({
			placeholder: "Select a State",
			allowClear: true
			});
		  });
		</script>
		<select id="e1" class="populate placeholder">
		  <option value="">尺寸</option>
		  <option value="">222</option>
		  <option value="">3333</option>
		  <option value="">4444</option>
		  <option value="">5555</option>
		  <option value="">1a1a1a1a1</option>
		  <option value="">1b1b1b</option>
		  <option value="">2c2c2c2c</option>
		  <option value="">3d3d3d</option>
		  <option value="">4f4r4f</option>
		</select>
	</li>
	<li class="col-md-2 un-gridSelect">
	  <script id="script_e2">
		$(document).ready(function() {
		  $("#e2").select2({
		  placeholder: "Select a State",
		  allowClear: true
		  });
		});
	  </script>
	  <select id="e2" class="populate placeholder">
		<option value="">品牌</option>
		<option value="">222</option>
		<option value="">3333</option>
		<option value="">4444</option>
		<option value="">5555</option>
		<option value="">1a1a1a1a1</option>
		<option value="">1b1b1b</option>
		<option value="">2c2c2c2c</option>
		<option value="">3d3d3d</option>
		<option value="">4f4r4f</option>
	  </select>
	</li>
	<li class="col-md-2 un-gridSelect">
	  <script id="script_e3">
		$(document).ready(function() {
		  $("#e3").select2({
		  placeholder: "Select a State",
		  allowClear: true
		  });
		});
	  </script>
	  <select id="e3" class="populate placeholder">
		<option value="">属性</option>
		<option value="">222</option>
		<option value="">3333</option>
		<option value="">4444</option>
		<option value="">5555</option>
		<option value="">1a1a1a1a1</option>
		<option value="">1b1b1b</option>
		<option value="">2c2c2c2c</option>
		<option value="">3d3d3d</option>
		<option value="">4f4r4f</option>
	  </select>
	</li>
	<li class="col-md-2 un-gridSelect">
	  <script id="script_e4">
		$(document).ready(function() {
		  $("#e4").select2({
		  placeholder: "Select a State",
		  allowClear: true
		  });
		});
	  </script>
	  <select id="e4" class="populate placeholder">
		<option value="">价格</option>
		<option value="">222</option>
		<option value="">3333</option>
		<option value="">4444</option>
		<option value="">5555</option>
		<option value="">1a1a1a1a1</option>
		<option value="">1b1b1b</option>
		<option value="">2c2c2c2c</option>
		<option value="">3d3d3d</option>
		<option value="">4f4r4f</option>
	  </select>
	</li>
	<li class="col-md-2 un-gridSelect">
		<script id="script_e5">
		  $(document).ready(function() {
			$("#e5").select2({
			placeholder: "Select a State",
			allowClear: true
			});
		  });
		</script>
		<select id="e5" class="populate placeholder">
		  <option value="">颜色</option>
		  <option value="">222</option>
		  <option value="">3333</option>
		  <option value="">4444</option>
		  <option value="">5555</option>
		  <option value="">1a1a1a1a1</option>
		  <option value="">1b1b1b</option>
		  <option value="">2c2c2c2c</option>
		  <option value="">3d3d3d</option>
		  <option value="">4f4r4f</option>
		</select>
	</li>
	<li class="col-md-2 un-gridSelect">
		<script id="script_e6">
		  $(document).ready(function() {
			$("#e6").select2({
			placeholder: "Select a State",
			allowClear: true
			});
		  });
		</script>
		<select id="e6" class="populate placeholder">
		  <option value="">内存</option>
		  <option value="">222</option>
		  <option value="">3333</option>
		  <option value="">4444</option>
		  <option value="">5555</option>
		  <option value="">1a1a1a1a1</option>
		  <option value="">1b1b1b</option>
		  <option value="">2c2c2c2c</option>
		  <option value="">3d3d3d</option>
		  <option value="">4f4r4f</option>
		</select>
	</li>
	</ul>

  </div>
	


 
  <div class="row">
   
    <div class="col-md-12 pull-right un-main">

      <div class="row">
        {% for x in (1..102) %}
        <div class="col-md-4 mt10 mb10">
          {% include page/node/mod/item.html %}
        </div>      
        {% endfor %}
		<div id="un-gridList"></div>
      </div>      
        <div id="un-gridMore" class="tac mb10"><span class="btn btn-default">View More</span></div>

    </div><!--the gridList-->
    
  </div>
</div>
