<div class="container un-container">

  <div class="row">
    <div class="col-md-12">
      <h3 class="un-title un-spc-title list-inline" style="padding-bottom:0px;">Computer Systems</h3>
      <div class="text-muted list-inline"><strong style="font-size:15px;">共有 </strong>1000 <small>product(s)</small> 符合</div>
    </div>
  </div>

  <table class="table">
    <tr>
      <td>
        {% for x in (1..1) %}
        <span class="label label-default">人气降序 <sup>X</sup></span>
        <span class="label label-primary">HP 品牌 <sup>X</sup></span>
        <span class="label label-success">4G 内存 <sup>X</sup></span>
        <span class="label label-info">价格 10~500 <sup>X</sup></span>
        <span class="label label-warning">红色 <sup>X</sup></span>
        <span class="label label-danger">排除 GT650 <sup>X</sup></span>
        {% endfor %}
      </td>
      
    </tr>
    
  </table>

  <hr>
 
  <div class="row">
    <div class="col-md-3 un-side">
      {% include page/node/mod/side2.html %}
    </div>
    <div class="col-md-9 un-main">

      <div class="row">
        {% for x in (1..12) %}
        <div class="col-md-4">
          {% include page/node/mod/item.html %}
        </div>      
        {% endfor %}
    <div id="un-gridList"></div>
      </div>      
        <div id="un-gridMore" class="tac mb10"><span class="btn btn-default">View More</span></div>

    </div><!--the gridList-->
    
  </div>
</div>
