<div class="container">
    <div class="clearfix ug-node">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ug-side">

            {% include page/node/block/category.html %}
            {% include page/node/block/filter.html %}

        </div><!--side end-->

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 ug-main">

            {% include page/node/block/best.html %}

            {% include page/node/block/finder.html %}

            {% include page/node/block/brand.html %}

            {% include page/node/block/grid.html %}

        </div><!--main end-->

    </div>

</div>