	<div class="thirteen wide column" id="main">
		<div class="hb banner">
			<img src="" data-src="holder.js/100%x100/#fff:#ddd/text:banner" alt="">
		</div><!--banner-->
		<div class="ui stackable grid" id="index">
			<div class="twelve wide column">
				<div class="ui segment">
					<div class="ui hb dividing header">
						<div class="ui left floated header">热卖产品</div>
						<a href="" class="ui tiny right floated header">More</a>
						<div class="clear"> </div>
					</div>
					{% include page/mod/itemList.html %}
					<div class="ui hb dividing header">
						<div class="ui left floated header">推荐产品</div>
						<a href="" class="ui tiny right floated header">More</a>
						<div class="clear"> </div>
					</div>
					{% include page/mod/itemList.html %}
					<div class="ui hb dividing header">
						<div class="ui left floated header">唯一产品</div>
						<a href="" class="ui tiny right floated header">More</a>
						<div class="clear"> </div>
					</div>
					{% include page/mod/itemList.html %}
					<div class="ui hb dividing header">
						<div class="ui left floated header">根据购买记录浏览历史推荐产品</div>
						<a href="" class="ui tiny right floated header">More</a>
						<div class="clear"> </div>
					</div>
					{% include page/mod/itemList.html %}


				</div>
			</div><!-- main -->
		
			<div class="four wide column" id="side">

				<div class="ui segment">
					<div class="ui hb dividing header">
						<div class="ui left floated header">最新降价产品</div>
						<div class="clear"> </div>
					</div>
					<div class="ui grid">
						{% for x in (1..8) %}
						<div class="ui list hb itemList itemList2">
							<a href="item.html" class="item">
								<img src="" data-src="holder.js/120x120/vine" alt="" class="ui image">
								<div class="content">
									<div class="header">AV / multimedia cable - mini-phone stereo 3.5 mm (M) - RCA (M) - 6 ft</div>
									<div class="price">
										<del>$64.22</del>
										<div class="current"><span>CDN$ 40.75 </span></div>
									</div>
								</div>
							</a>
						</div>
						{% endfor %}
					</div><!-- bestSeller -->
				</div>

			</div><!-- sideRight -->
		</div>
