<div class="container ug-special" style="background-color:#97170e;">
<div class="row ug-specialBanner" style="background:url(holder.js?1050x280) no-repeat center center;padding:20px 0;height:280px;"></div><!--banner end-->

  <div class="container">
    <div class="ug-main ug-recommendList">
      <div class="ug-mainGrid">
      <div class="ug-mainMsg" style="background-color:#e31307;">
        <div class="span8"> <span class="badge">Recommend Products</span></div>
      </div>
      <!--Msg end-->
        <div class="row thumbnails">
          <div class="col-md-6 ">
            <div class="clearfix thumbnail ug-clip">
              <div class=" ug-mainImg">
                <div class="ug-img2"> <a href="http://dev.hookbag.com/hb3/front/public/product/H3C0CPJ5W/367922u-lenovo"><img title="Lenovo Notebook 367922U ThinkPad Tablet II 10.1inch Intel Atom Z2760 1GB 32GB Windows 8 Retail" alt="Lenovo Notebook 367922U ThinkPad Tablet II 10.1inch Intel Atom Z2760 1GB 32GB Windows 8 Retail" src="http://images.hookbag.ca/3/3c/357a/357a0a033c257a0a/200" class=""></a> </div>
              </div>
              <!--img end-->
              <div class="caption">
                <div class="ug-info">
                  <div class="ug-tit"> <a title="Lenovo Notebook 367922U ThinkPad Tablet II 10.1inch Intel Atom Z2760 1GB 32GB Windows 8 Retail" href="http://dev.hookbag.com/hb3/front/public/product/H3C0CPJ5W/367922u-lenovo">Lenovo Notebook 367922U ThinkPad Tablet II 10.1inch Intel Atom Z2760 1GB 32GB Windows 8 Retail</a> </div>
                </div>
                <div class="ug-pri">
                  <div class="ug-price"><del>$579.00</del><span class="ug-priceCurrent"> <span class="price final"><em>CDN$ 460</em><span>.98</span></span> </span> </div>
                </div>
              </div>
              <!--info end-->
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="clearfix thumbnail ug-clip"> <span class="ug-targ ug-targ-freeshipping"></span>
              <div class=" ug-mainImg">
                <div class="ug-img2"> <a href="http://dev.hookbag.com/hb3/front/public/product/H3C0COZXL/367927u-887456383419-lenovo"><img title="Intel - Z-Series - Z2760 - 1.5 GHz - RAM: 2 GB - 64 GB - Integrated Graphic - 10.1 Inch - Touch Screen - IEEE 802.11 a/b/g/n - Microsoft Windows 8 Professional 32-bit - 2-cell" alt="Intel - Z-Series - Z2760 - 1.5 GHz - RAM: 2 GB - 64 GB - Integrated Graphic - 10.1 Inch - Touch Screen - IEEE 802.11 a/b/g/n - Microsoft Windows 8 Professional 32-bit - 2-cell" src="http://images.hookbag.ca/4/3c/4594/459468a33c6d4a47/200" class=""></a> </div>
              </div>
              <!--img end-->
              <div class="caption">
                <div class="ug-info">
                  <div class="ug-tit"> <a title="Intel - Z-Series - Z2760 - 1.5 GHz - RAM: 2 GB - 64 GB - Integrated Graphic - 10.1 Inch - Touch Screen - IEEE 802.11 a/b/g/n - Microsoft Windows 8 Professional 32-bit - 2-cell" href="http://dev.hookbag.com/hb3/front/public/product/H3C0COZXL/367927u-887456383419-lenovo">Intel - Z-Series - Z2760 - 1.5 GHz - RAM: 2 GB - 64 GB - Integrated Graphic - 10.1 Inch - Touch Screen - IEEE 802.11 a/b/g/n - Microsoft Windows 8 Professional 32-bit - 2-cell</a> </div>
                </div>
                <div class="ug-pri">
                  <div class="ug-price"><del>$699.00</del><span class="ug-priceCurrent"> <span class="price final"><em>CDN$ 679</em><span>.73</span></span> </span> </div>
                </div>
              </div>
              <!--info end-->
            </div>
          </div>
        </div>
      </div>
      <!--grid end-->     </div>
  </div>
<div class="clearfix ug-node  ug-specialList">
<div class="pull-left ug-side">
	<ul class="ug-navSideBar">
	    <li class="ug-navSideBarTitle" style="background-color:#e31307;">special</li>
            <li> <a title="Notebooks" href="http://www.hookbag.ca/node/1010/1/notebooks?sh=IS&amp;ly=LIST">
        <icon class="icon-angle-right"></icon>
        Notebooks <span>(1553)</span> </a> </li>
        <li> <a title="Netbooks" href="http://www.hookbag.ca/node/1011/1/netbooks?sh=IS&amp;ly=LIST">
        <icon class="icon-angle-right"></icon>
        Netbooks <span>(32)</span> </a> </li>
        <li> <a title="Tablets" href="http://www.hookbag.ca/node/1012/1/tablets?sh=IS&amp;ly=LIST">
        <icon class="icon-angle-right"></icon>
        Tablets <span>(953)</span> </a> </li>
        <li> <a title="Desktop" href="http://www.hookbag.ca/node/1013/1/desktop?sh=IS&amp;ly=LIST">
        <icon class="icon-angle-right"></icon>
        Desktop <span>(1417)</span> </a> </li>
        <li> <a title="Workstations" href="http://www.hookbag.ca/node/1015/1/workstations?sh=IS&amp;ly=LIST">
        <icon class="icon-angle-right"></icon>
        Workstations <span>(148)</span> </a> </li>
        <li> <a title="Servers" href="http://www.hookbag.ca/node/1014/1/servers?sh=IS&amp;ly=LIST">
        <icon class="icon-angle-right"></icon>
        Servers <span>(648)</span> </a> </li>
        <li> <a title="Barebone Systems" href="http://www.hookbag.ca/node/1016/1/barebone-systems?sh=IS&amp;ly=LIST">
        <icon class="icon-angle-right"></icon>
        Barebone Systems <span>(206)</span> </a> </li>
        <li> <a title="Terminals &amp; Thin Clients" href="http://www.hookbag.ca/node/1017/1/terminals---thin-clients?sh=IS&amp;ly=LIST">
        <icon class="icon-angle-right"></icon>
        Terminals &amp; Thin Clients <span>(318)</span> </a> </li>
        <li> <a title="Laptop Accessories" href="http://www.hookbag.ca/node/1018/1/laptop-accessories?sh=IS&amp;ly=LIST">
        <icon class="icon-angle-right"></icon>
        Laptop Accessories <span>(7458)</span> </a> </li>
    </ul><!--kindselect end-->
	<div class="ug-nodeAttr well">
		<ul class="nav nav-list">
			<li class="nav-header">
				Brand Name	</li>
							<li><a title="3M" href="/search/1?q=notebook&amp;sh=IS&amp;a=13944">3M (52)</a></li>
							<li><a title="Acer" href="/search/1?q=notebook&amp;sh=IS&amp;a=19754">Acer (22)</a></li>
							<li><a title="ADDON - MEMORY UPGRADES" href="/search/1?q=notebook&amp;sh=IS&amp;a=24884">ADDON - MEMORY UPGRADES (32)</a></li>
							<li><a title="ASUS" href="/search/1?q=notebook&amp;sh=IS&amp;a=16744">ASUS (60)</a></li>
							<li><a title="Belkin" href="/search/1?q=notebook&amp;sh=IS&amp;a=13065">Belkin (13)</a></li>
							<li><a title="BTI" href="/search/1?q=notebook&amp;sh=IS&amp;a=22300">BTI (14)</a></li>
							<li><a title="Cooler Master" href="/search/1?q=notebook&amp;sh=IS&amp;a=18379">Cooler Master (15)</a></li>
							<li><a title="Fellowes" href="/search/1?q=notebook&amp;sh=IS&amp;a=14756">Fellowes (20)</a></li>
							<li><a title="HP" href="/search/1?q=notebook&amp;sh=IS&amp;a=13076">HP (65)</a></li>
							<li><a title="Kensington" href="/search/1?q=notebook&amp;sh=IS&amp;a=14447">Kensington (48)</a></li>
							<li><a title="Kingston" href="/search/1?q=notebook&amp;sh=IS&amp;a=20025">Kingston (61)</a></li>
							<li><a title="Lenovo" href="/search/1?q=notebook&amp;sh=IS&amp;a=14229">Lenovo (106)</a></li>
							<li><a title="StarTech.com" href="/search/1?q=notebook&amp;sh=IS&amp;a=13367">StarTech.com (23)</a></li>
							<li><a title="Targus" href="/search/1?q=notebook&amp;sh=IS&amp;a=14526">Targus (70)</a></li>
							<li><a title="Tripp Lite" href="/search/1?q=notebook&amp;sh=IS&amp;a=12830">Tripp Lite (19)</a></li>
							<li><a title="Western Digital" href="/search/1?q=notebook&amp;sh=IS&amp;a=30568">Western Digital (15)</a></li>
					<li class="nav-header">
				Memory Speed	</li>
							<li><a title="1066 MHz" href="/search/1?q=notebook&amp;sh=IS&amp;a=13562">1066 MHz (20)</a></li>
							<li><a title="1333 MHz" href="/search/1?q=notebook&amp;sh=IS&amp;a=16116">1333 MHz (19)</a></li>
							<li><a title="1600 MHz" href="/search/1?q=notebook&amp;sh=IS&amp;a=16059">1600 MHz (20)</a></li>
							<li><a title="667 MHz" href="/search/1?q=notebook&amp;sh=IS&amp;a=12815">667 MHz (13)</a></li>
							<li><a title="800 MHz" href="/search/1?q=notebook&amp;sh=IS&amp;a=13334">800 MHz (16)</a></li>
					<li class="nav-header">
				Hard Drive Capacity	</li>
							<li><a title="500 GB" href="/search/1?q=notebook&amp;sh=IS&amp;a=19222">500 GB (42)</a></li>
					<li class="nav-header">
				Battery Chemistry	</li>
							<li><a title="Lithium Ion (Li-Ion)" href="/search/1?q=notebook&amp;sh=IS&amp;a=13678">Lithium Ion (Li-Ion) (29)</a></li>
					<li class="nav-header">
				Standard Memory	</li>
							<li><a title="4 GB" href="/search/1?q=notebook&amp;sh=IS&amp;a=14521">4 GB (52)</a></li>
					<li class="nav-header">
				Processor Type	</li>
							<li><a title="Core i5" href="/search/1?q=notebook&amp;sh=IS&amp;a=17636">Core i5 (36)</a></li>
							<li><a title="Core i7" href="/search/1?q=notebook&amp;sh=IS&amp;a=17662">Core i7 (24)</a></li>
							<li><a "="" title="12.5" href="/search/1?q=notebook&amp;sh=IS&amp;a=20750">12.5" (16)</a></li>
							<li><a "="" title="14" href="/search/1?q=notebook&amp;sh=IS&amp;a=17944">14" (50)</a></li>
							<li><a "="" title="15.6" href="/search/1?q=notebook&amp;sh=IS&amp;a=17661">15.6" (52)</a></li>
					<li class="nav-header">
				Drive Width	</li>
							<li><a "="" title="2.5" href="/search/1?q=notebook&amp;sh=IS&amp;a=13507">2.5" (23)</a></li>
					<li class="nav-header">
				Color	</li>
					<li class="nav-header">
				Rotational Speed	</li>
							<li><a title="5400 rpm" href="/search/1?q=notebook&amp;sh=IS&amp;a=14775">5400 rpm (14)</a></li>
					<li class="nav-header">
				Memory Technology	</li>
							<li><a title="DDR2 SDRAM" href="/search/1?q=notebook&amp;sh=IS&amp;a=12813">DDR2 SDRAM (29)</a></li>
							<li><a title="DDR3 SDRAM" href="/search/1?q=notebook&amp;sh=IS&amp;a=13317">DDR3 SDRAM (61)</a></li>
					<li class="nav-header">
				Memory Size	</li>
							<li><a title="2 GB" href="/search/1?q=notebook&amp;sh=IS&amp;a=12824">2 GB (29)</a></li>
							<li><a title="4 GB" href="/search/1?q=notebook&amp;sh=IS&amp;a=12812">4 GB (38)</a></li>
					<li class="nav-header">
				Battery Size	</li>
							<li><a title="Proprietary Battery Size" href="/search/1?q=notebook&amp;sh=IS&amp;a=16905">Proprietary Battery Size (31)</a></li>
		</ul>
	</div><!--attr end-->

</div><!--side end-->

<div class="pull-right ug-main">

	<div class="ug-mainMsg" style="background-color:#e31307;">
		<div class="col-md-8"><strong>special</strong></div>
		<div class="col-md-4" style="text-align:right;">1 - 30 of 1000 product(s) </div>
	</div><!--searchMsg end-->
	<div class="clearfix ug-sort">
		<div class="col-md-6 ug-act">Show only :
			<a href="/search/1?q=notebook&amp;sh=">
			<i class="icon-check"></i> In Stock</a>
			<a href="/search/1?q=notebook&amp;sh=IS_BO">
			<i class="icon-check-empty"></i> Back Order</a>
			<a href="/search/1?q=notebook&amp;sh=IS_FS">
			<i class="icon-check-empty"></i> Free Shipping</a>
		</div>
		<div class="col-md-6 ug-sortRange">
		<strong>Sort By:</strong>
		<select onchange="">
			<option selected="selected" value="">Best Match</option>
			<option value="">Price: Low To High</option>
			<option value="">Price: High To Low</option>
		</select>
		<span class="">
		<i class="icon-th"></i> <a href="grid.html">Grid</a>
		</span>
		<span class="-list">
		<i class="icon-th-list"></i> <a href="category.html">List</a>
		</span>
		</div>
	</div><!--searchSort end-->

	<div class="ug-mainGrid">
	<div class="clearfix thumbnails">
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip"><a href="" class="ug-targ ug-targ-freeshipping"></a>
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip"><a href="" class="ug-targ ug-targ-bestseller"></a>
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip">
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip">
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>

	</div><!--list end-->
	<div class="clearfix thumbnails">
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip">
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip"><a href="" class="ug-targ ug-targ-bestseller"></a><a href="" class="ug-targ ug-targ-freeshipping"></a>
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip">
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip">
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>

	</div><!--list end-->
	<div class="clearfix thumbnails">
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip"><a href="" class="ug-targ ug-targ-freeshipping"></a>
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip"><a href="" class="ug-targ ug-targ-bestseller"></a>
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip">
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip">
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>

	</div><!--list end-->
	<div class="clearfix thumbnails">
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip">
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip"><a href="" class="ug-targ ug-targ-bestseller"></a><a href="" class="ug-targ ug-targ-freeshipping"></a>
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip">
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip">
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>

	</div><!--list end-->
	<div class="clearfix thumbnails">
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip">
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip">
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-freeshipping" href=""></a>
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>
		<div class="col-md-3">
		<div class="clearfix thumbnail ug-clip"><a href="" class="ug-targ ug-targ-bestseller"></a>
			<div class=" ug-mainImg">
				<div class="ug-bra">
				<a title="Cooler Master" href="http://www.hookbag.ca/vendor/717/1/"><img alt="Image of Cooler Master" title="Cooler Master" src="http://images.hookbag.ca/e/a/ef64957fac2af4e6"></a>
				</div>
				<div class="ug-img">
				<a title="Cooler Master" href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> <img r9-nbs-ustd-gp"="" -="" fans)="" configurable="" 100mm="" x="" (2="" alt="Thumbnail of Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" title="Cooler Master" src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a>
				</div>
			</div><!--img end-->
			<div class="caption">
				<div class="ug-info">
					<div class="ug-tit">
					<a  href="http://www.hookbag.ca/product/H3C06OU15/r9-nbs-ustd-gp-884102012136-cooler-master"> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
					</div>
					<div class="ug-sku">
						<p><span class="sku SKU">SKU:<strong>H3C06OU15</strong></span>, <span class="sku MfgPartNo">MfgPartNo:<strong>R9-NBS-USTD-GP</strong></span>, <span class="sku Weight">Weight:<strong>4.35 lb</strong></span></p>
					</div>
				</div>
				<div class="ug-pri">
					<div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
				</div>
			</div><!--info end-->
		</div>
		</div>

	</div><!--list end-->

		<ul class="pagination">
		<li><a href="#">Prev</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">Next</a></li>
		</ul><!--pagination end-->

	</div>
</div><!--main end-->

</div>
</div>
