<div class="container un-container">
	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li class="active">grid</li>
	</ol>
	<div class="row un-special">
		<h3 class="un-grid-title un-spc-title col-md-12" data-spy="affix" data-offset-top="310">Daily Steals <small> SAVE UP TO 50% OFF AND UP</small></h3>
		<div class="col-md-2 un-side">
			{% include page/node/block/side.html %}
		</div><!--the side-->
		<div class="col-md-10">
		
			{% for x in (1..24) %}
			<div class="col-md-3">
				{% include page/node/block/item.html %}
			</div>			
			{% endfor %}

		</div><!--the gridList-->
		
	</div>
</div>