<div class="container">
  <div class="clearfix ug-node">
    <div class="pull-left ug-side">
      <ul class="ug-navSideBar">
        <li class="ug-navSideBarTitle">Book</li>
      </ul>
      <ul class="ug-navSideBar">
        <li class="ug-navSideBarTitle">Computer Systems</li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Notebooks</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Netbooks</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Tablets</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Desktop</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Workstations</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Servers</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Barebone Systems</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Terminals &amp; Thin Clients</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Laptop Accessories</a> </li>
      </ul>
      <ul class="ug-navSideBar">
        <li class="ug-navSideBarTitle">Computer Parts</li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Hard Drives</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Headsets</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Memory</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Surge Suppressors</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Mouse</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Peripheral</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Secure Digital Memory Cards</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Storage</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Computer Hardware</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Power Supplies</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Computer Accessories</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Print / Parallel / Serial Cables</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Carrying Cases</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Services &amp; Training</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Flash Drives</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Misc</a> </li>
      </ul>
      <ul class="ug-navSideBar">
        <li class="ug-navSideBarTitle">Phones</li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Cordless Phones</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          IP Phones</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Phone Accessory</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Telephony Software</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Protective Cases</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Cables</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Phone Battery &amp; Charger</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Headsets</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Video Communications</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Cell Phones</a> </li>
      </ul>
      <ul class="ug-navSideBar">
        <li class="ug-navSideBarTitle">Network</li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Print Servers</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Routers &amp; Gateways &amp; Bridges</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Modems</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Antennas</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Wireless Adapters</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Wireless AP / Bridges </a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Bluetooth</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Wireless Routers</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Powerline Network</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Firewalls</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Terminal &amp; Device Servers</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          KVM</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Patch Panels</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Network Modules</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Transceivers</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Network Cables</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Network Accessories</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Switches</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Hubs</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Ethernet Adapters</a> </li>
      </ul>
      <ul class="ug-navSideBar">
        <li class="ug-navSideBarTitle">Office </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Printers</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Toner &amp; Ink Cartridges</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Printer Lables</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Printing Supplies</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Office Equipment</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Scanners</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Projectors &amp; Accessories</a> </li>
      </ul>
      <ul class="ug-navSideBar">
        <li class="ug-navSideBarTitle">Electronics</li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Car Electronics</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Digital Cameras</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Televisions</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Handhelds / PDAs &amp; GPS Navigators</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Audio Equipment</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          POS</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Home &amp; Living</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Watch</a> </li>
      </ul>
      <ul class="ug-navSideBar">
        <li class="ug-navSideBarTitle">Game</li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Game Controller</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Game Software</a> </li>
      </ul>
      <ul class="ug-navSideBar">
        <li class="ug-navSideBarTitle">Educational</li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Active Play</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Charts</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Creative Play</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Early Childhood</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Home School Materials</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Math</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Science</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Teacher Aids</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Test Prep</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Arts &amp; Crafts</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Audio/Visual</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Bulletin Board Sets</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Bulletin Board Sets-Mini</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Classroom Decorations</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Classroom Technology</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Critical Thinking</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Furniture &amp; Equipment</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Games</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Incentives &amp; Motivators</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Interactive Whiteboard</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Multilingual</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Music</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Paper</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Physical Education</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Puzzles</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Reading/Language Arts</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Social Studies</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Special Needs</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Supplies</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Teacher Resources</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Children's Books</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Multimedia</a> </li>
      </ul>
      <ul class="ug-navSideBar">
        <li class="ug-navSideBarTitle">Home &amp; Garden</li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Hardware &amp; Tools</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Health &amp; Personal Care</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Holidays, Cards &amp; Party Supply</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Home Improvement</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Home Security</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Inside the Home</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Leisure Games &amp; Toys</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Pet Supplies</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Sewing &amp; Crafts</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Yard, Garden &amp; Outdoor Living</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Misc product</a> </li>
      </ul>
      <ul class="ug-navSideBar">
        <li class="ug-navSideBarTitle">Outdoor</li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Team Sports</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Accessories</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Camping &amp; Hiking &amp; Climbing</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Public Safety</a> </li>
        <li><a href="">
          <icon class="icon-angle-right"></icon>
          Protective Gear</a> </li>
      </ul>
    </div>
    <!--side end-->
    <div class="pull-right ug-main ug-topsell"> 
	<div id="ug-topsell-01" class="ug-mainGrid">
        <div class="ug-productTit">
          <h3>Computer Systems</h3>
          <a data-slide="prev" href="#ug-topsell-01" class="ug-control icon-chevron-left ug-control-prev"></a><a data-slide="next" href="#ug-topsell-01" class="ug-control icon-chevron-right ug-control-next"></a></div>
        <div class="carousel-inner ">
          <div class="row thumbnails item">
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-freeshipping" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/9/a/96d74bbcaf855748/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-bestseller" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
          </div>
          <div class="row thumbnails item active">
            <div class="col-md-3  col-sm-6 ">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/9/a/96d74bbcaf855748/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Case Logic Large SLR Camera Case Case for camera with zoom lens - Black EVA, Nylon</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-bestseller" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/9/a/96d74bbcaf855748/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Case Logic Large SLR Camera Case Case for camera with zoom lens - Black EVA, Nylon</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-freeshipping" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
          </div>
          <div class="row thumbnails item">
            <div class="col-md-3  col-sm-6 ">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-bestseller" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/9/a/96d74bbcaf855748/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Case Logic Large SLR Camera Case Case for camera with zoom lens - Black EVA, Nylon</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-freeshipping" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Case Logic Large SLR Camera Case Case for camera with zoom lens - Black EVA, Nylon</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
          </div>
        </div>
      </div><!--ug-topsell-01 end-->
      <div id="ug-topsell-02" class="ug-mainGrid">
        <div class="ug-productTit">
          <h3>Computer Parts</h3>
          <a data-slide="prev" href="#ug-topsell-02" class="ug-control icon-chevron-left ug-control-prev"></a><a data-slide="next" href="#ug-topsell-02" class="ug-control icon-chevron-right ug-control-next"></a></div>
        <div class="carousel-inner ">
          <div class="row thumbnails item">
            <div class="col-md-3  col-sm-6 ">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-freeshipping" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/9/a/96d74bbcaf855748/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-bestseller" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
          </div>
          <div class="row thumbnails item active">
            <div class="col-md-3  col-sm-6 ">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/9/a/96d74bbcaf855748/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Case Logic Large SLR Camera Case Case for camera with zoom lens - Black EVA, Nylon</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-bestseller" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/9/a/96d74bbcaf855748/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Case Logic Large SLR Camera Case Case for camera with zoom lens - Black EVA, Nylon</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-freeshipping" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
          </div>
          <div class="row thumbnails item">
            <div class="col-md-3  col-sm-6 ">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-bestseller" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/9/a/96d74bbcaf855748/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Case Logic Large SLR Camera Case Case for camera with zoom lens - Black EVA, Nylon</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-freeshipping" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Case Logic Large SLR Camera Case Case for camera with zoom lens - Black EVA, Nylon</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
          </div>
        </div>
      </div><!--ug-topsell-02 end-->
      <div id="ug-topsell-03" class="ug-mainGrid">
        <div class="ug-productTit">
          <h3>Phones</h3>
          <a data-slide="prev" href="#ug-topsell-03" class="ug-control icon-chevron-left ug-control-prev"></a><a data-slide="next" href="#ug-topsell-03" class="ug-control icon-chevron-right ug-control-next"></a></div>
        <div class="carousel-inner ">
          <div class="row thumbnails item">
            <div class="col-md-3  col-sm-6 ">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-freeshipping" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/9/a/96d74bbcaf855748/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-bestseller" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
          </div>
          <div class="row thumbnails item active">
            <div class="col-md-3  col-sm-6 ">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/9/a/96d74bbcaf855748/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Case Logic Large SLR Camera Case Case for camera with zoom lens - Black EVA, Nylon</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-bestseller" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/9/a/96d74bbcaf855748/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Case Logic Large SLR Camera Case Case for camera with zoom lens - Black EVA, Nylon</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-freeshipping" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
          </div>
          <div class="row thumbnails item">
            <div class="col-md-3  col-sm-6 ">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-bestseller" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip">
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/9/a/96d74bbcaf855748/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Case Logic Large SLR Camera Case Case for camera with zoom lens - Black EVA, Nylon</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
            <div class="col-md-3  col-sm-6">
              <div class="clearfix thumbnail ug-clip"><a class="ug-targ ug-targ-freeshipping" href=""></a>
                <div class=" ug-mainImg">
                  <div class="ug-bra"> <a href="http://www.hookbag.ca/vendor/717/1/" title="Cooler Master"><img src="http://images.hookbag.ca/e/a/ef64957fac2af4e6" title="Cooler Master" alt="Image of Cooler Master"></a> </div>
                  <div class="ug-img"> <a href=""> <img src="http://images.hookbag.ca/6/6/6ad17c096a92a9f5/thumb.jpg"></a> </div>
                </div>
                <!--img end-->
                <div class="caption">
                  <div class="ug-info">
                    <div class="ug-tit"> <a href=""> Case Logic Large SLR Camera Case Case for camera with zoom lens - Black EVA, Nylon</a> </div>
                    
                  </div>
                  <div class="ug-pri">
                    <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
                </div>
                <!--info end--> 
              </div>
            </div>
          </div>
        </div>
      </div><!--ug-topsell-03 end-->


	</div><!--ug-main end--> 
  </div>
  