<script src="/style/base/js/jQuery.js"></script>
<script src="/style/base/js/bootstrap.js"></script>
<script src="/style/base/js/holder.js"></script>
<link type="text/css" rel="stylesheet" href="/style/base/css/bootstrap.css">
<style type="text/css">
.navbar-default .navbar-nav>li>a{
	font-weight:700;
	font-size:12px;
}
.navbar-default .navbar-nav>li>a{
	padding:10px 2px 5px;
	border-bottom:3px solid transparent;
	margin:5px 25px 0 0;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus{
	border-bottom:3px solid #c0392b;
	background-color:transparent;
}

</style>
