<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>
  {% if page.title == "Hookbag" %}
    {{ page.title }}
  {% else if %}
    {{ page.title }} | {{ site.title }}
  {% endif %}
</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include page/layout/mod/style.html %}
</head>

<body>

  {% include page/layout/mod/if-lt-ie8.html %}

  <div id="ui-top" class="">

    <div class="container un-top bgWhite navbar-default" >
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".un-side">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="pull-right mr20">
          {% include page/header/mod/user.html %}
        </div>
        <div class="col-md-6 pull-right" id="un-search">
          {% include page/header/mod/search.html %}
        </div>

        <div class="col-md-2 mr10">ffffff
          {% include page/header/mod/logo.html %}
        </div>

    </div>

  </div>