<!--the header-->
<header class="navbar navbar-default" role="banner" style="margin-bottom:0;">
<div class="container">
	<div class="navbar-header col-md-2">
		<a class="navbar-brand pull-right" href="#">Brand</a>
	</div>
	<ul class="nav navbar-nav">
		<li class="dropdown active">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-home"></span> <b class="caret"></b></a>
		  <ul class="dropdown-menu" role="menu">
			<li><a href="#">Action</a></li>
			<li><a href="#">Another action</a></li>
			<li><a href="#">Something else here</a></li>
			<li class="divider"></li>
			<li><a href="#">Separated link</a></li>
			<li class="divider"></li>
			<li><a href="#">One more separated link</a></li>
		  </ul>
		</li>
		<li><a href="#">Videos</a></li>
		<li><a href="#">Discussion</a></li>
		<li><a href="#">About</a></li>
	</ul>
	<form class="navbar-form navbar-left" role="search">
		<div class="form-group">
			<input type="text" class="form-control input-sm" placeholder="search" style="width:300px;">
		</div>
		<button type="submit" class="btn btn-default btn-sm"><span class="text-muted glyphicon glyphicon-search"></span></button>
	</form>
	<div class="navbar-right">
		<button type="button" class="btn btn-primary navbar-btn btn-sm">Sign in</button>
	</div>
</div>
</header>
