<div class="container">
	<div class="row">
		<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">Library</a></li>
		<li class="active">Data</li>
		</ol>
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-body">
					<h2><span>【全国】</span>富士拍立得＋相纸免费送！</h2>
					<h3 class="text-muted">美梦成真：富士 mini 90 拍立得相机 ＋ 365 张相纸 ，美团网免费送！ 全新的理念、超越前作的功能、经典的传承、复古的设计，记录美好瞬间，定格美丽笑容，拍一张美丽照片，就这么简单。邀请1个新用户参加或绑定腾讯/新浪微博多1个抽奖号码，中奖概率翻倍！</h3>
					<div class="media panel panel-default">
						<a class="pull-right col-md-9" href="#" style="margin-left:0;padding-left:0;">
							<img class="media-object" src="holder.js/612x280">
						</a>
						<div class="media-body col-md-3 tac panel-heading">
							<p class="media-heading pt10 pb10 tal"><strong class="text-danger" style="font-size:34px;">￥0</strong>　门店价-</p>
							<a href="" class="btn btn-warning mt10 pl10 pr10">参与</a>
							<hr>
							<p style="margin:41px 0;"><strong class="text-danger">583098</strong> 人已参与<br>剩余<span>3</span>天以上</p>
							
						</div>
					</div>
				</div>
				<div class="panel-heading fz13">
					<div class="pull-right">
						<div class="pull-right bshare-custom">　<div class="bsPromo bsPromo2"></div><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
						分享到 
					</div>
					<span class="glyphicon glyphicon-heart text-danger"></span>　收藏本单
				</div>
			</div><!--团购商品-->
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>本单详情</h4>
					<p>一次踏青，一次郊游；一个微笑，一个拥抱；一次相聚，一次重逢；春天的溪流，秋天的枫叶；人间仙境九寨沟，静谧纯净泸沽湖……每一天的生活，或许简单，或许平静，却有太多美好的瞬间，美好的景物值得去纪念。富士 mini 90 拍立得相机 ＋ 365 张相纸，用最简单的方式记录每一天的生活，记录一个瞬间的美好。</p>
				
				</div>
			</div><!--本单详情-->
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
					<h3 class="fz14">　<strong>热门专题</strong></h3>
					{% for x in (1..2) %}
					<img data-src="holder.js/268x125">
					{% endfor %}
				
			</div><!--专题-->
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 class="fz14"><strong>美团答疑</strong></h3>
					<ul class="list-inline">
						<li><span class="glyphicon glyphicon-question-sign text-success"></span></li>
						<li><a href="">本单答疑</a>　｜</li>
						<li><a href="">我要提问</a></li>
					</ul>
				
				</div>
			</div><!--答疑-->
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 class="fz14"><strong>看过本团购的用户还看了</strong></h3>
					{% for x in (1..2) %}
					<dl class="text-muted">
						<dd><a href=""><img data-src="holder.js/238x125"></a></dd>
						<dd class="fz13 mt10"><a href="" class="text-muted">【全国】香奈儿五号香水免费送~！：美梦成真，香奈儿五号香水...</a></dd>
						<dd><strong class="text-danger" style="font-size:22px;">￥0</strong>　门店价-</dd>
					</dl>
					{% endfor %}
				
				</div>
			</div><!--还看了-->
		</div>
	</div>
</div>