

<div class="container ug-page">
  <div class="row ug-about">
	  <div class="col-md-6 col-sm-12">
		<h3>About Hookbag.ca</h3>
	  
		<p>Hookbag.ca was launched by an international top e-businessman in August 2011 in Canada.</p>
		<p>Our mission is to bring our customers together for a stress-free shopping experience.
		 Our goal is building long-term relationships with our customers by providing quality products and services.</p>
		<p>Our vision is to provide first-rate customer service, that which exceeds our customers expectations. When our customers are seeking quality service and a positive experience,
		 they instinctively think of Hookbag.ca because of our high standards and excellent service.</p>
	  
		<p>We have been authorized by world class brands and manufacturers, to be able to bring you the highest quality products available at the lowest possible prices.</p>
	  </div>
	  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<h3>What can we do for you.</h3>
		<p>As a huge online store, Hookbag.ca offers you a wide range of products at a low price. 
		Areas of focus include computers, consumer electronics, office supplies, home appliances and more. 
		We aim to get you the right products and services when you need them. Our well-trained and courteous customer service representatives are available to help you and help make your online shopping convenient and easy.
		 We treat every customer with the utmost respect, as your satisfaction is what we strive for.</p>
	  
		<p>Hookbag.ca is your most loved and trusted online store. Any suggestions you would like to share with us? Please do not hesitate to contact us. We wish you the best possible experience while shopping at Hookbag.ca!</p>
	  </div>
  </div>
</div>