
<div class="container ug-page">
	
	<div class="col-md-6 col-sm-12 col-md-offset-3">
	<h3>Address Verification</h3>
		<p>Due to the nature of online shopping, we are unable to ask you for face-to-face identification. However, to protect your safety, your credit and your privacy, we verify both your address to confirm your identity and your credit cards validity through your credit or debit card company instead.</p>
		<p>Orders with the same billing and shipping address will be shipped the same day when you place the order.</p>
		<p>If you want us to ship to an address that is different from your billing address that you recorded with your card issuer, you will need to contact your credit or debit card company to authorize and record an alternative shipping address. Once you have placed an order, we contact your card issuer to verify your alternative shipping address, using the card number and expiry date in your order. Therefore, we may need an extra day.</p>
		<p>Both your billing address and shipping address (if the two addresses are different) must be verified before we ship your order. In the case of our inability to verify your alternate shipping address, we will inform you about it. If you cannot add an alternative shipping address, please contact your card issuer, explaining that you are making an on-line order and that to protect against fraud, Hookbag.ca must verify your personal information before shipping. Then call us at 877- 9876-Bag (877-9876-224) to verify your information so that we can ship your order.</p>
	</div>
</div>