
<div class="container ug-page">
	<div class="col-md-6 col-sm-12 col-md-offset-3 ug-contact">
		<dl>

			<dt>By Web Form</dt>
			<dd>
			<ul>
			<li><a href="<?php echo $this->url('myaccount/ticket/add')?>">Please click here to submit a ticket.</a></li>
			</ul>
			</dd>

			<dt>By Phone</dt>
			<dd>
				<ul>
					<li>Toll Free: 877- 9876-Bag (877-9876-224)</li>
			    <li>Local: (613) 860-9901</li>
			    <li>Fax: (613) 860-9902</li>
			    <li><span class="label">Mon - Fri: 9:00am - 5:00pm EST</span></li>			</ul>
			</dd>

		<dt>By Skype</dt>
			<dd>Please click following button, for a free skype call, or add [WWW.HOOKBAG.CA] as a skype contact.</dd>
			<dd>
			<ul><li>
			<!--
	Skype 'Skype Me™!' button
	http://www.skype.com/go/skypebuttons
	-->
	<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
	<a href="skype:www.hookbag.ca?call"><img src="http://download.skype.com/share/skypebuttons/buttons/call_green_white_92x82.png" style="border: none;" width="92" height="82" alt="Skype Me™!" /></a>
			</li>
			<li><span class="label">Mon - Fri: 9:00am - 5:00pm EST</span></li>
			</ul>
			</dd>

			<dt>By Mail or Email</dt>
			<dd class="reset">
				<ul class="">
		    	<li>22 Antares Dr.</li>
	  	    <li>Unit F<br></li>
	  	    <li>Ottawa ON<br></li>
	  	    <li>Canada K2E7Z6</li>
	  	    <li>Email Address: serviceteam@hookbag.ca</li>
		    </ul>
			</dd>

		<p><strong>Note:</strong> We don't have a store front for the above address. All orders are by Internet. We also do not accept phone, fax, walkin or email orders</p>

		</dl>
	</div>
</div>