
<div class="container ug-page">
	<div class="col-md-6 col-sm-12 col-md-offset-3">
    <h3>EHF FEES EXPLANATION</h3>
  
    <p>Please be advised that your Hookbag.ca purchase may include an environmental handling fee (EHF) as may be required in your province. These fees are used to support provincial recycling and disposal programs, environmental handling fees are collected on products made with materials such as metal, glass, and plastic that can be recycled into other products. EHFs are also collected on products that may contain substances that are hazardous to the environment. Hookbag.ca charges EHFs on items that we sell and ship to in provinces or territories where we are required to do so. The EHFs amount reflects the applicable rate. You will see the environmental handling fee amount during the checkout process if necessary for your product purchase. Please be sure to select</p>
    <p>Hookbag.ca is committed to keeping electronics out of landfills. Environmental Handling Fees (EHFs) cover the cost associated with the safe and responsible recycling of end-of-life electronics. EHFs are administered by provincially approved recycling programs and are not government taxes, but are required by law and are taxable.</p>
    
    <p>*Please note:* Order totals may change slightly due to these taxable EHF fees that may be required by your provincial government <strong>IF</strong> you do not add them yourself when indicated during the checkout process. </p>
  </div>
</div>