
<div class="container ug-page">
	<div class="col-md-6 col-sm-12 col-md-offset-3">
		<p class="ug-que"><strong>I am  a reseller/government employee. How do I place an order with Hookbag.ca without  being charged for tax?</strong></p>
		<p class="text-muted">All customers outside of British Columbia,  Manitoba, Ontario, Quebec, and Saskatchewan will not be charged any tax.  Therefore, customers in those locales do not need to fax or set up any reseller  tax exemption form.</p>
		<p class="ug-que"><strong>For  resellers in British Columbia, Manitoba, Ontario, Quebec, and Saskatchewan:</strong></p>
		<p class="text-muted">Please place your first order as normal,  and then email us at <a href="mailto:serviceteam@hookbag.ca"><strong>serviceteam@hookbag.ca</strong> </a><strong> </strong>with  your reseller permit and this form, along with your Hookbag order number. We  will then remove all tax from your order. Please to  view and print Hookbag reseller tax exemption form.</p>
		<p class="ug-que"><strong>For  Government in British Columbia, Manitoba, Ontario, Quebec, and Saskatchewan:</strong></p>
		<p class="text-muted">Please  place your first order as normal. After you've submitted your order, email us  at <strong><a href="mailto:serviceteam@hookbag.ca">serviceteam@hookbag.ca</a> </strong>with your  Tax Exempt ID and include the sales order number. If you have made several  previous orders, please mention those sales order numbers and Hookbag.ca will  refund your tax charge on those orders as well. If you have any questions,  please give us a call at 877- 9876-Bag (877-9876-224).</p>
		<p class="label label-warning">Note: Sales to the Government of Canada  are exempt from tax, only if the purchase is made with a federal government  credit card.</p>
	</div>
</div>