
<div class="container ug-page">
	<div class="col-md-6 col-sm-12 col-md-offset-3">
		<h5><strong>Card Security Code</strong></h5>
		<p>The Card Security Code (CSC) is a 3- or  4-digit number printed on your credit card. It provides added security when you  use your card on the internet or over the phone. The number appears only on the  card itself, not on receipts or statements.</p>
		<h5><strong>Status Legend</strong></h5>
		<h5><strong>Order Pending</strong></h5> 
		<p>Your  order will be processed within 24 hours. To prevent fraud, additional information  might be required.</p>
		<h5><strong>Order Submitted </strong> </h5>
		<p>Your  order has been successfully submitted and your credit/debit card has not yet  been charged. It may take 1-2 business days to process and ship your order.</p>
		<h5><strong>Stock Out</strong> </h5>
		<p>We  cannot process and ship the order because your ordered quantity exceeds the  amount we currently have in stock.</p>
		<h5><strong>Address Verification Fail</strong> </h5><p>We  cannot process and ship the order because, unfortunately, we were unable to  verify your shipping address (Should you wish to receive merchandise at a  different address, please <a href="<?php echo $this->url('page/address_verification')?>" target="_blank" title="Click Here">Click Here</a>.).</p>
		<h5><strong>Verification Success</strong> </h5><p>Verification and  fraud prevention measures are completed and your credit/debit card has not yet  been charged. Changes to your order are not allowed.<a name="OLE_LINK6" id="OLE_LINK6"></a><a name="OLE_LINK5" id="OLE_LINK5"></a></p>
		<h5><strong>Charge Fail</strong> </h5><p>We  cannot charge the required funds against your account.</p>
		<h5><strong>PayPal Charge Fail</strong> </h5><p>We cannot  charge the required funds against your PayPal account.</p>
		<h5><strong>Charge Success</strong> </h5><p>Your  credit/debit card has been successfully charged.</p>
		<h5><strong>Wait for Packing</strong> </h5><p>Your  order contents will soon be packaged and sealed.</p>
		<h5><strong>Partially Shipped</strong> </h5><p>Your order contents have been partially shipped.</p>
	</div>
</div>