
<div class="container ug-page">
	<div class="">
		<h5><strong>Manufacturer Resources</strong></h5>
		<p>Clink  on the following links for information, tools and resources provided by  manufacturers to help customers to select, install and support hardware and  software. </p>
		<ul>
		  <li><a href="http://knowledgebase.3com.com/" target="_blank">3Com </a></li>
		  <li><a href="http://www.amd.com/us-en/Processors/TechnicalResources/0,,30_182,00.html" target="_blank">AMD </a></li>
		  <li><a href="http://us.creative.com/support/" target="_blank">Creative Labs </a></li>
		  <li><a href="http://support.dlink.com/" target="_blank">D-Link </a></li>
		  <li><a href="http://www.ibm.com/support/us/" target="_blank">IBM </a></li>
		  <li><a href="http://processorfinder.intel.com/default.aspx" target="_blank">Intel  Processor Identification Tool </a></li>
		  <li><a href="http://www.intel.com/support/index.htm" target="_blank">Intel Support </a></li>
		  <li><a href="http://www.kingston.com/tools/umg/default.asp" target="_blank">Kingston  Ultimate Memory Guide </a></li>
		  <li><a href="http://www.maxtor.com/en/support/index.htm" target="_blank">Maxtor </a></li>
		  <li><a href="http://support.buympc.com/index.html" target="_blank">MPC Computers </a></li>
		</ul>
		<h5><strong>Glossaries</strong></h5>
		<p>Clink  on the following links for definitions of PC terms and jargon.</p>
		<ul>
		  <li><u><a href="http://indigo.intel.com/mbsg/glossary.aspx" target="_blank">Intel Glossary </a></u></li>
		  <li><a href="http://www.webopedia.com/" target="_blank">Webopedia </a></li>
		  <li><a href="http://www.amd.com/us-en/Glossary/0,,238_242,00.html" target="_blank">AMD Glossary </a></li>
		</ul>
		<h5><strong>Downloads</strong></h5>
		<p>Clink  on the following links to obtain internet sources of various utilities, downloads  and updates to help computer users to keep their systems running smoothly.</p>
		<ul>
		  <li><a href="http://www.download.com/" target="_blank">c|net Download.com </a></li>
		  <li><a href="http://www.drivershq.com/" target="_blank">Drivers Headquarters </a></li>
		  <li><a href="http://update.microsoft.com/" target="_blank">Microsoft Windows Updates </a></li>
		  <li><a href="http://www.pchardware.ro/Download/drivers.php" target="_blank">PC Hardware Driver Downloads </a></li>
		  <li><a href="http://www.windrivers.com/" target="_blank">WinDrivers </a></li>
		  <li><a href="http://www.zdnet.com/" target="_blank">ZDNet </a></li>
		</ul>
		<h5><strong>RSS Feed</strong></h5>
		<p>Hookbag.ca delivers its hottest deals  and best specials via its RSS feed. Obtain free downloadable RSS readers via  below links: </p>
		<ul>
		  <li><a href="http://www.newsgator.com/" target="_blank">NewsGator </a></li>
		  <li><a href="http://www.bradsoft.com/feeddemon/" target="_blank">FeedDemon </a></li>
		  <li><a href="http://www.pluck.com/" target="_blank">Pluck RSS Reader </a></li>
		  <li><a href="http://www.feedreader.com/" target="_blank">FeedReader </a></li>
		</ul>
		<h5><strong>Reviews</strong></h5>
		<p>Review websites scrutinize and critique  new products, services and technology. Please refer to links below for educated  opinions of experienced computer enthusiasts:</p>
		<ul>
		  <li><a href="http://www.anandtech.com/" target="_blank">AnandTech </a></li>
		  <li><a href="http://reviews.cnet.com/4520-3038_7-5020358-5.html?legacy=cnet&amp;tag=st.co.1103-8-6220389-4.nav.1103-8-6220389-5" target="_blank">c|net  RAM Explained </a></li>
		  <li><a href="http://www.hardocp.com/" target="_blank">HardOCP </a></li>
		  <li><a href="http://www.hardwarecentral.com/hardwarecentral/" target="_blank">HardwareCentral </a></li>
		  <li><a href="http://www.sharkeyextreme.com/" target="_blank">Sharkyextreme </a></li>
		  <li><a href="http://www.sysopt.com/" target="_blank">System Optimized </a></li>
		  <li><a href="http://www.pcguide.com/index.htm" target="_blank">The PC Guide </a></li>
		  <li><a href="http://www.tomshardware.com/" target="_blank">Tom's Hardware </a></li>
		  <li><a href="http://www.tomshardware.com/#guides" target="_blank">Tom's Hardware Guide </a></li>
		  <li>&nbsp;</li>
		</ul>
		<h5><strong>Forums</strong></h5>
		<p>Internet forums on computer-related  issues as below:</p>
		<ul>
		  <li><a href="http://forums.anandtech.com/" target="_blank">AnandTech </a></li>
		  <li><a href="http://www.bleepingcomputer.com/" target="_blank">BleepingComputer.com </a></li>
		  <li><a href="http://www.cybertechhelp.com/forums/index.php" target="_blank">Cyber Tech </a></li>
		  <li><a href="http://freepctech.com/index.php" target="_blank">Free PC Tech </a></li>
		  <li><a href="http://www.hardocp.com/" target="_blank">HardOCP </a></li>
		  <li><a href="http://discussions.hardwarecentral.com/?action=intro" target="_blank">Hardware Central </a></li>
		  <li><a href="http://www.hftonline.com/forum/" target="_blank">HFT Online </a></li>
		  <li><a href="http://www.houseofhelp.com/v2/forumdisplay.php?forumid=128" target="_blank">Official  Corsair Memory Support </a></li>
		  <li><a href="http://www.pcqanda.com/dc/dcboard.php" target="_blank">PC911 </a></li>
		  <li><a href="http://forum.pcmech.com/" target="_blank">PC Mechanic </a></li>
		  <li><a href="http://www.pcper.com/" target="_blank">PC Perspective </a></li>
		  <li><a href="http://www.sharkyforums.com/" target="_blank">Sharkyextreme </a></li>
		  <li><a href="http://www.suggestafix.com/index.php" target="_blank">Suggest A Fix </a></li>
		  <li><a href="http://www.techspot.com/" target="_blank">TechSpot </a></li>
		  <li><a href="http://www.tek-tips.com/" target="_blank">Tek-Tips </a></li>
		  <li><a href="http://forumz.tomshardware.com/community/" target="_blank">Tom's Hardware Guide Community </a></li>
		</ul>
		<h5><strong>Other</strong></h5>
		<p>A collection of reference links:</p>
		<ul>
		  <li><a href="http://www.exchangelinks.biz/" target="_blank">Global Link Exchange</a></li>
		  <li><a href="http://www.anyapex.com/" target="_blank">AnyApex - Basic Listing</a></li>
		  <li><a href="http://josh.nu/in.php?ID=16685" target="_blank">Josh`s Sanctum</a></li>
		  <li><a href="http://websitespromotiondirectory.com/" target="_blank" title="SEO directory">SEO-friendly  directory</a></li>
		  <li><a href="http://www.lowyes.ca/" target="_blank">Lowyes Comparison Shopping Compare Prices</a></li>
		  <li><a href="http://www.4xem.com/links/addlink.php" target="_blank">4XEM Corporation</a></li>
		  <li><a href="http://www.canadianshoppingdeals.com/" target="_blank">canadian  shopping deals</a></li>
		</ul>
		</div>
</div>