<link rel="stylesheet" href="/style/base/css/bootstrap.css">
<link rel="stylesheet" href="/style/base/css/bootstrap-theme.css">
<link rel="stylesheet" href="/style/v2/css/un.css">
<link rel="stylesheet" href="/style/v2/css/ui.css">
<link rel="stylesheet" href="/style/v2/css/easydropdown.css">


<script src="/style/base/js/jquery.js"></script>
<script src="/style/base/js/bootstrap.js"></script>
<script src="/style/v2/js/jquery.easydropdown.js"></script>

<script src="/style/base/js/holder.js"></script>
<script>
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
	$(this).toggleClass('active')
  });
  $('.nav-button').click(function() {
    $('.un-nav').toggleClass('un-nav1 un-nav3');
	$(this).toggleClass('nav-txt')
  });
});
</script>

