<div id="ug-bestseller" class="visible-md visible-lg">

  <div class="ug-mainMsg ug-mainBest">
    <strong>Best Seller</strong>
    <a class="ug-control icon-chevron-left ug-control-prev" data-slide="prev" href="#ug-bestseller"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="ug-control icon-chevron-right ug-control-next" data-slide="next" href="#ug-bestseller"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>

  <div class="carousel-inner">

    <div class="row thumbnails ug-bestSeller item active">
      {% for x in (1..4) %}
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="clearfix thumbnail ug-clip">
          <a href="" class="ug-targ ug-targ-bestseller"></a>
          <a class="ug-targ ug-targ-freeshipping" href=""></a>
          <div class="ug-mainImg">
            <div class="ug-img ug-imgH">
                <a href=""> <img src="holder.js?128x128"></a>
            </div>
          </div><!--img end-->
          <div class="caption">
            <div class="ug-info">
              <div class="ug-tit">
                <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
              </div>

            </div>
            <div class="ug-pri">
              <div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
            </div>
          </div><!--info end-->
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row thumbnails ug-bestSeller item">
      {% for x in (1..4) %}
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="clearfix thumbnail ug-clip">
          <a class="ug-targ ug-targ-freeshipping" href=""></a>
          <div class="ug-mainImg">
            <div class="ug-img ug-imgH">
                <a href=""> <img src="holder.js?128x128/#000;#fff"></a>
            </div>
          </div><!--img end-->
          <div class="caption">
            <div class="ug-info">
              <div class="ug-tit">
                <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
              </div>

            </div>
            <div class="ug-pri">
              <div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
            </div>
          </div><!--info end-->
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</div>