<div class="ug-mainGrid">
  <div class="clearfix thumbnails">
    {% for x in (1..2) %}
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="clearfix thumbnail ug-clip ui-effect-8">
        <span href="" class="ug-targ ug-targ-bestseller"></span>
        <span href="" class="ug-targ ug-targ-freeshipping"></span>
        <div class="ug-mainImg">
          <div class="ug-img2">
            <a title="Cooler Master" href="/page/item/html/item.html"> <img src="holder.js?256x265"></a>
          </div>
        </div><!--img end-->
        <div class="caption">
          <div class="ug-info">
            <div class="ug-tit">
                <a class="" href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
            </div>
          <div class="ug-pri">
            <div class="ug-price">
              <del>$63.06</del>
              <span class="ug-priceCurrent"><strong> CDN$ 40.57</strong></span>
            </div>
          </div>
          </div>
        </div><!--info end-->
      </div>
    </div>
    {% endfor %}

  </div><!--list end-->

  <div class="clearfix thumbnails">
      {% for x in (1..3) %}
      <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="clearfix thumbnail ug-clip ui-effect-8">
              <span href="" class="ug-targ ug-targ-bestseller"></span>
              <span href="" class="ug-targ ug-targ-freeshipping"></span>
              <div class="ug-mainImg">
                  <div class="ug-img2">
                      <a title="Cooler Master" href=""> <img src="holder.js?196x196"></a>
                  </div>
              </div><!--img end-->
              <div class="caption">
                  <div class="ug-info">
                      <div class="ug-tit">
                          <a  href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
                      </div>
					  <div class="ug-pri">
						  <div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
					  </div>
                  </div>
              </div><!--info end-->
          </div>
      </div>
      {% endfor %}

  </div><!--list end-->
  
  {% for x in (1..4) %}
  <div class="clearfix thumbnails">
      {% for x in (1..4) %}
      <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="clearfix thumbnail ug-clip ui-effect-8">
			<span href="" class="ug-targ ug-targ-bestseller"></span>
			<span href="" class="ug-targ ug-targ-freeshipping"></span>
              <div class="ug-mainImg">

                  <div class="ug-img ug-imgH">
                      <a title="Cooler Master" href=""> <img src="holder.js?128x128"></a>
                  </div>
              </div><!--img end-->
              <div class="caption">
                  <div class="ug-info">
                      <div class="ug-tit">
                          <a  href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a>
                      </div>
					  <div class="ug-pri">
						  <div class="ug-price"><del>$63.06</del><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
					  </div>
                  </div>
              </div><!--info end-->
          </div>
      </div>
      {% endfor %}
  </div><!--list end-->
  {% endfor %}


</div>
<ul class="pull-right pagination mr10">
  <li><a href="#">Prev</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">Next</a></li>
</ul>
<!--pagination end-->
