.un-footer-title {
  font-size: 12px;
  padding-left: 30px;
  margin-bottom: 5px;
}
.un-footer {
  font-size: 11px;
}
#un-footer-info {
  color: #676767;
  margin-bottom: 10px;
}
#un-footer-info li {
  list-style-type: none;
}
#un-footer-info a {
  color: #676767;
  padding-left: 10px;
}
#un-footer-info a:hover {
  color: #0088cc;
}
#un-footer-info .un-footer-text {
  margin-top: 20px;
}
.un-footer-copyright {
  text-align: right;
  margin-bottom: 20px;
}
.un-footer-copyright strong {
  float: left;
  line-height: 42px;
  margin-right: 10px;
}
.un-footer-copyright .un-footer-payment img {
  max-height: 35px;
}
