	
<script type="text/javascript" src="../js/skrollr.js"></script>
<script type="text/javascript">
	// ScrollTo Navigation 
	var slideTopPosisition = [];
	$('.scene').each(function(){
		slideTopPosisition.push($(this).index()*300);
	});
	console.log(slideTopPosisition);
	var animateScroll = function(currentSlide,duration) {
		$('html, body').animate({ scrollTop: slideTopPosisition[currentSlide] }, duration);
	}
	$('.hb-slide>li').on('click', function() {
		var currentSlide=$(this).attr('data-current');
		animateScroll(currentSlide,1000);
		
	});
	var dataCon=slideTopPosisition.length;
	var data1=slideTopPosisition[dataCon-2];
	var data2=slideTopPosisition[dataCon-1];
	console.log(data1);
	$('#ui-footer').attr('data-'+data1,'bottom:-100%');
	$('#ui-footer').attr('data-'+data2,'bottom:0%');
	
	skrollr.init({
		render: function(data) {
			//Debugging - Log the current scroll position.
			//console.log(data.curTop);
		}
	});
</script>


</body>
</html>