	<div id="ui-footer" class="bgGray mt20 scene"
		data-1600="top:100%;padding-top:0px;padding-bottom:0px;" 
		data-1800="top:0;padding-top:150px;padding-bottom:150px;" 
	>
		<div class="container">
			<div class="un-footer row" id="un-footer-info">
				<div class="col-md-2 un-footer-service">
					<h3 class="un-title un-footer-title">Customer Service</h3>
					<ul>
						<li><a href="">> About Us</a></li>
						<li><a href="">> Contact Us</a></li>
						<li><a href="">> Address Verification</a></li>
					</ul>
				</div>
			<div class="col-md-2 un-footer-service">
				<h3 class="un-title un-footer-title">Customer Service</h3>
				<ul>
					<li><a href="">> About Us</a></li>
					<li><a href="">> Contact Us</a></li>
					<li><a href="">> Address Verification</a></li>
				</ul>
			</div>
			<div class="col-md-2 un-footer-service">
				<h3 class="un-title un-footer-title">Customer Service</h3>
				<ul>
					<li><a href="">> About Us</a></li>
					<li><a href="">> Contact Us</a></li>
					<li><a href="">> Address Verification</a></li>
				</ul>
			</div>
			<div class="col-md-2 un-footer-service">
				<h3 class="un-title un-footer-title">Customer Service</h3>
				<ul>
					<li><a href="">> About Us</a></li>
					<li><a href="">> Contact Us</a></li>
					<li><a href="">> Address Verification</a></li>
				</ul>
			</div>
			<div class="visible-md visible-lg col-md-3 col-md-4 un-footer-text">
				<p>Prices are in Canadian dollars. Hookbag.ca is not responsible for typographical or photographical errors. Prices and specifications are subject to change without notice. Logos and trademarks are copyright and the property of their respective owners.</p>
				<p>Les prix sont en dollars Canadiens. Hookbag.ca n'est pas responsable des erreurs typographiques ou photographiques. Prix et spécifications sont sujets à changement sans préavis.</p>
			</div>
			
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../js/skrollr.js"></script>
<script type="text/javascript">
	skrollr.init({
		render: function(data) {
			//Debugging - Log the current scroll position.
			//console.log(data.curTop);
		}
	});
	// ScrollTo Navigation 
	var slideTopPosisition = [0, 100, 700, 1200, 1600,2000];
	
	var animateScroll = function(currentSlide,duration) {
		$('html, body').animate({ scrollTop: slideTopPosisition[currentSlide] }, duration);
	}
	$('.hb-slide>li').on('click', function() {
		var currentSlide=$(this).attr('data-current');
		animateScroll(currentSlide,1000);
	});
</script>


</body>
</html>