<div class="container">
<div class="ug-footer" id="ug-footer-info">
<div class="row">
  <div class="col-sm-6 col-md-3 ug-footer-service">
    <h3 class="ug-title ug-footer-title">Customer Service</h3>
    <ul>
    <li><a href="">> About Us</a></li>
    <li><a href="">> Contact Us</a></li>
    <li><a href="">> Address Verification</a></li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-3 ug-footer-service">
    <h3 class="ug-title ug-footer-title">Customer Service</h3>
    <ul>
    <li><a href="">> About Us</a></li>
    <li><a href="">> Contact Us</a></li>
    <li><a href="">> Address Verification</a></li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-3 ug-footer-service">
    <h3 class="ug-title ug-footer-title">Customer Service</h3>
    <ul>
    <li><a href="">> About Us</a></li>
    <li><a href="">> Contact Us</a></li>
    <li><a href="">> Address Verification</a></li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-3 ug-footer-service">
    <h3 class="ug-title ug-footer-title">Customer Service</h3>
    <ul>
    <li><a href="">> About Us</a></li>
    <li><a href="">> Contact Us</a></li>
    <li><a href="">> Address Verification</a></li>
    </ul>
  </div>
</div>
  <div class="clearfix">
  <div class="col-md-12 ug-footer-text">
  <p>Prices are in Canadian dollars. Hookbag.ca is not responsible for typographical or photographical errors. Prices and specifications are subject to change without notice. Logos and trademarks are copyright and the property of their respective owners.</p>
  <p>Les prix sont en dollars Canadiens. Hookbag.ca n'est pas responsable des erreurs typographiques ou photographiques. Prix et spécifications sont sujets à changement sans préavis.</p>
  </div>
</div>
</div>
<div class="container row ug-footer ug-footer-copyright">
  <div class="col-md-9"><strong>PAYMENT METHOD</strong>
    <div class="ug-footer-payment">
    <table>
      <tbody><tr>

      </tr>
    </tbody>
    </table>
    </div>
  </div>
  <div class="col-md-3">Copyright &copy;2012 Hookbag Inc. All rights reserved.</div>
</div>
</div>
