<div id="ui-footer" class="bgGray">
  <div class="container">
    <div class="un-footer row" id="un-footer-info">
      <div class="col-md-2 un-footer-service">
        <h3 class="un-title un-footer-title">Customer Service</h3>
        <ul>
          <li><a href="">> About Us</a></li>
          <li><a href="">> Contact Us</a></li>
          <li><a href="">> Address Verification</a></li>
        </ul>
      </div>
    <div class="col-md-2 un-footer-service">
      <h3 class="un-title un-footer-title">Customer Service</h3>
      <ul>
        <li><a href="">> About Us</a></li>
        <li><a href="">> Contact Us</a></li>
        <li><a href="">> Address Verification</a></li>
      </ul>
    </div>
    <div class="col-md-2 un-footer-service">
      <h3 class="un-title un-footer-title">Customer Service</h3>
      <ul>
        <li><a href="">> About Us</a></li>
        <li><a href="">> Contact Us</a></li>
        <li><a href="">> Address Verification</a></li>
      </ul>
    </div>
    <div class="col-md-2 un-footer-service">
      <h3 class="un-title un-footer-title">Customer Service</h3>
      <ul>
        <li><a href="">> About Us</a></li>
        <li><a href="">> Contact Us</a></li>
        <li><a href="">> Address Verification</a></li>
      </ul>
    </div>
    <div class="col-md-4 un-footer-text">
      <p>Prices are in Canadian dollars. Hookbag.ca is not responsible for typographical or photographical errors. Prices and specifications are subject to change without notice. Logos and trademarks are copyright and the property of their respective owners.</p>
      <p>Les prix sont en dollars Canadiens. Hookbag.ca n'est pas responsable des erreurs typographiques ou photographiques. Prix et spécifications sont sujets à changement sans préavis.</p>
    </div>
    <div class="row un-footer un-footer-copyright">
      <div class="col-md-9">
        <strong>PAYMENT METHOD</strong>
        <div class="un-footer-payment">
          <table>
            <tr></tr>
          </table>
        </div>
      </div>
      <div class="col-md-3">Copyright &copy;2012 Hookbag Inc. All rights reserved.</div>
    </div>
    </div>
  </div>
</div>
<script>
 $("img.lazy").lazyload({
	effect : "fadeIn"
 });
$("#container").one("click", function() {
     $("#container").load("image.html", function(response, status, xhr) {
         $("img.lazy").lazyload({
			effect : "fadeIn"
		 });
     });              
 });
var p = document.getElementById("un-sort"),
    res = document.getElementById("result");
res.innerHTML = "$" + p.value;

p.addEventListener("input", function() {
    res.innerHTML = "$" + p.value;
}, false); 
</script>
</body>
</html>