@import url("../../common/less/config.less");

#un-topDeal{
	background-color:#fafafa;
}
.un-deals{
	.un-spc-title {
		background:#fff;
		strong{
			background:lighten(@color, 30%);
			color:#fff;
			padding:0 5px;
		}
	}
	.un-clip{
		padding:13px 13px 13px 3px;
	}
}
#un-finder{
	padding-bottom:20px;
	.select2-container{
		margin-bottom:-1px;
	}
}
.un-index-grid{
	border-top:1px dotted #ddd;
	margin-top:10px;
	.un-title{
		span{
			font-weight:700;
			font-size:40px;
			
		}
		letter-spacing:-3px;
		a{
			color:#ddd;
		}
	}
}
#un-best{
	#un-bestseller{
		.glyphicon{
			color:@color;
		}
	}	
}
#un-cate{
	.un-list {
		.un-cate{
			&:hover{
				.un-title{
					border:1px dotted #ddd;
				}
			}
		}
		.un-title {
			border:1px dotted #fff;
			margin-top:10px;
			padding-bottom:0;
			font-size:18px;
			a{
				color:@color;
			}
		}
	}
}
#un-brand{
	margin-top:10px;
	li{
		margin:10px 10px 10px 0;
		padding:0;
	}
	
}