#ug-finder {
  padding: 0;
  margin: 0;
}
#ug-finder .ug-title {
  padding: 0 15px;
}
#ug-finder .ug-inner {
  padding: 0 15px;
}
#ug-finder .ug-inner p {
  margin: 0 0 18px;
}
#ug-finder .ug-inner select {
  min-height: auto;
  margin-bottom: 20px;
}
#ug-banner {
  position: relative;
  overflow: hidden;
}
#ug-banner .ug-banner-big {
  width: 85.82%;
}
#ug-banner .ug-banner-small {
  float: right;
  margin: 0;
  width: 12.17%;
  position: static;
}
#ug-banner .ug-banner-small li {
  border: 1px solid #dddddd;
  cursor: pointer;
  margin-bottom: 16px;
  margin-left: 0;
  text-indent: 0;
  border-radius: 0;
  width: auto;
  height: auto;
  float: none;
  position: relative;
}
#ug-banner .ug-banner-small li:last-child {
  margin-bottom: 0;
}
#ug-banner .ug-banner-small li img {
  width: 100%;
}
#ug-banner .ug-banner-small .arrow {
  border-color: transparent #0E71C0 transparent transparent;
  border-style: solid;
  border-width: 8px;
  font-size: 0;
  height: 0;
  left: -16px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 0;
  display: none;
}
#ug-banner .ug-banner-small .active {
  border-color: #0E71C0;
}
#ug-banner .ug-banner-small .active .arrow {
  display: block;
}
.ug-category {
  margin-top: 20px;
}
.ug-category .panel {
  margin-bottom: 5px;
}
.ug-category .panel-title {
  font-weight: 700;
}
.ug-category .panel-body > .row {
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
  margin: 13px 0;
}
.ug-category .panel-body > .row .tac {
  border-right: 1px dotted #dddddd;
  border-color: #ccc;
}
.ug-category .panel-body > .row .tac .caption h3 {
  margin-top: 10px;
}
.ug-category .panel-body > .row .tac .caption a {
  font-weight: 700;
  color: #000;
}
.ug-category .panel-body > .row .tac:last-child {
  border-right: none;
}
.ug-category .panel-body > .row .tac:hover .caption a {
  color: #428bca;
}
.ug-category .panel-body > .row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.ug-promotion-inner {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ug-index-control {
  position: relative;
}
.ug-index-control .ug-title a {
  color: #333333;
}
.ug-index-control .ug-title a:hover {
  color: #0088cc;
}
.ug-index-control .ug-control-inner {
  box-shadow: 0 1px 2px #DDD;
  border: 1px solid #dddddd;
  border-color: #c4daee;
  margin: 0;
  padding: 0;
}
.ug-index-control .ug-control-inner li {
  margin: 15px 0;
  display: block;
  list-style-type: none;
}
.ug-index-control .ug-control-inner li:last-child {
  border-bottom: none;
}
#ug-elec {
  position: relative;
}
#ug-elec .ug-brand {
  padding: 0;
}
#ug-elec .ug-brand li {
  height: 32px;
  line-height: 32px;
  text-align: center;
  list-style-type: none;
}
#ug-elec .ug-brand li img {
  max-height: 22px;
}
#ug-elec .ug-elect-inner {
  border: 1px solid #dddddd;
  border-top: 2px solid #0e71c0;
  box-shadow: 0 1px 2px #DDDDDD;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
#ug-elec .ug-elect-inner #ug-elect-list {
  padding-bottom: 20px;
  border-left: 1px solid #ccc;
}
#ug-elec .ug-elect-inner #ug-elect-list .item {
  padding: 0;
}
#ug-elec .ug-elect-inner #ug-elect-list .item li {
  margin: 8px auto;
  list-style-type: none;
}
#ug-elec .ug-control {
  top: -30px;
}
.ug-ad {
  margin-bottom: 20px;
}
