.un-side .nav > li > a {
  padding: 3px 15px;
  font-size: 12px;
}
.un-side .page-header {
  margin: 10px 0 ;
}
.un-side .un-gridSide {
  padding-bottom: 20px;
}
.un-side .affix {
  top: 20px;
  z-index: 99;
  background-color: #fff;
  width: 16%;
}
.un-side .affix .un-gridSide {
  display: none;
}
.un-side .affix #un-side-affix .panel:first-child .panel-heading {
  border-top: none;
}
.un-side .un-sortPrice {
  margin-bottom: 10px;
}
.un-side .un-sortPrice #un-sort {
  width: 50%;
  margin-top: 10px;
}
.un-side #un-side-affix {
  padding: 0;
}
.un-side #un-side-affix .panel {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
}
.un-side #un-side-affix .panel .panel-heading {
  border-top: 1px solid #eee;
  border-bottom: none;
}
.un-side #un-side-affix .panel .panel-heading .panel-title a {
  color: #777;
  font-size: 12px;
  font-weight: 700;
  padding-left: 15px;
  background: url(../../../page/header/img/filters_arrow.gif) 0 -39px no-repeat;
}
.un-side #un-side-affix .panel .panel-heading .panel-title .collapsed {
  background-position: 0 6px;
}
.un-side #un-side-affix .panel .panel-body {
  padding: 0 10px;
}
.un-acce.affix {
  background-color: #fff;
  z-index: 996;
  left: 3%;
  top: 81px;
  width: 15%;
}
.un-acce.affix .un-mainImg {
  float: none !important;
}
.un-special .un-spc-title {
  font-weight: 700;
  color: #2980b9;
  margin-top: 0;
}
.un-special .un-spc-title.affix {
  background-color: #fff;
  top: 20px;
  z-index: 199;
  width: 15%;
}
.un-special .un-spc-title.affix small {
  display: block;
}
.un-special .un-side .affix {
  top: 100px;
}
.node-category .affix {
  width: 100%;
  z-index: 99;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
}
