#hb {
  background-color: #F1F1F1;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  font-size: 87.5%;
}
#hb body {
  margin: 0;
  padding: 55px 0 0 0;
}
#hb a {
  color: #4288ca;
  text-decoration: none;
}
#hb a:hover {
  color: #245482;
}
#hb .clear {
  clear: both;
}
#hb .hb.header {
  clear: both;
  margin: 5px 0 10px;
}
.hb {
  /*******************************
           hb  
*******************************/
  /*******************************
           header  
*******************************/
  /*******************************
           side
*******************************/
  /*******************************
           main
*******************************/
  /*******************************
           item
*******************************/
  /*photo*/
  /*attr*/
  /*buy*/
  /*list*/
  /*******************************
           index
*******************************/
  /*******************************
           login
*******************************/
  /*******************************
           footer
*******************************/
}
.hb.grid > .column {
  padding-left: 1%;
  padding-right: 1%;
}
.hb .segment {
  border-radius: 0;
  margin: 0;
}
.hb ul.hb {
  list-style-type: none;
}
.hb#header {
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
.hb#header .hb.logo {
  width: 200px;
  height: 45px;
  margin-top: 5px;
  background: url(/img/logo.png);
}
.hb#header .menu.right {
  padding: 0;
}
.hb#header .item {
  padding: 20px;
}
.hb #side.side {
  border-radius: 0;
  border-top: none;
  padding: 0;
  /*left*/
}
.hb #side.side.left {
  margin-top: 0;
  margin-bottom: 0;
}
.hb #side.side.left #nav.nav.main .menu a {
  display: block;
}
.hb #side.side.left .nav {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1;
  width: 18.75%;
  background: #fff;
  transition: margin .2s;
}
.hb #side.side.left .nav > .item {
  padding: 0 2rem;
  line-height: 2rem;
  border-bottom: 1px dotted #ddd;
  width: auto;
}
.hb #side.side.left .nav > .item .title.active .icon {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.hb #side.side.left .nav > .item > .sNav {
  list-style-type: none;
  line-height: 2rem;
  padding: 0 0 0 1rem;
}
.hb #side.side.left .nav > .menu {
  width: 100%;
  border-radius: 0;
  color: #000;
  text-transform: uppercase;
  margin: 0;
}
.hb #side.side.left .nav > .menu.slideLeft {
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
.hb #side.side.left .nav > .menu .close {
  display: none;
}
.hb #side.side.left .nav > .menu > .item {
  margin: 0;
  padding: 1.5rem 1rem;
  cursor: pointer;
}
.hb #side.side.left .nav > .menu > .item:first-child {
  border-radius: 0;
}
.hb #side.side.left .nav > .menu > .item:hover {
  background: #0e71c0;
  color: #fff;
}
.hb #side.side.left .nav > .menu > a.item {
  padding: 1.5rem 0 1.5rem 1rem;
  text-align: left;
  color: #000;
}
.hb #side.side.left .nav > .menu .icon.mobile {
  font-size: 1.5rem;
  margin-top: -1rem;
  margin-left: -0.5rem;
}
.hb #side.side.left .nav#subNav {
  margin-left: -18.75%;
  overflow-y: auto;
}
.hb #side.side.left .nav#subNav .sub.menu a {
  font-size: 1rem;
  padding: 15px 10px 15px 33px;
  display: block;
}
.hb #side.side.left .nav#subNav .sub.menu a:hover {
  text-decoration: underline;
}
.hb #side.side.left .nav.attr > .item {
  padding: 5px 10px;
  width: 100%;
}
.hb #side.side.slideLeft #nav {
  width: 5%;
}
.hb #side.side.slideLeft #nav > .menu span.item {
  display: none;
}
.hb #side.side.slideLeft #nav > .menu:not(.slideLeft):hover {
  width: 215px;
}
.hb #side.side.slideLeft #nav > .menu:not(.slideLeft):hover .item {
  font-size: 1rem;
}
.hb #side.side.slideLeft #nav > .menu .item {
  font-size: 0;
  width: 100%;
  padding: 1rem;
}
.hb #side.side.slideLeft #nav > .menu .item .icon {
  font-size: 1.5rem;
  margin: 0 0 0 .5rem;
  float: none;
}
.hb #side.side.slideLeft #nav > .menu .item .icon.mobile {
  margin: 0;
  font-size: 2rem;
}
.hb #side.side.slideLeft #nav > .menu.slideLeft .open {
  display: none;
}
.hb #side.side.slideLeft #nav > .menu.slideLeft .close {
  display: block;
}
.hb #side.side.slideLeft #nav > .menu.slideLeft .close .icon {
  font-size: 2rem;
}
.hb #side.side.subNav #subNav {
  margin-left: 0 !important;
}
.hb #main {
  margin: 10px 0 0;
  float: right;
}
.hb #main .banner {
  background-color: #fff;
  margin-bottom: 10px;
}
.hb #main.slideLeft {
  width: 95%;
}
.hb #main .breadcrumb.segment {
  box-shadow: none;
  width: 100%;
  margin-bottom: 10px;
  display: none;
}
.hb #main .breadcrumb.segment .active {
  color: #666;
}
.hb #photo {
  margin-top: 0;
  position: relative;
  width: 100%;
}
.hb #photo img {
  max-width: 100%;
}
.hb #photo .ppy-outer {
  display: none;
  padding: 10px;
  border: 1px solid #e1f1a1;
  border-radius: 0 10px 10px 10px;
  background: #eff9c7;
}
.hb #photo.ppy-active {
  width: 100%;
  float: left;
  margin: 0;
}
.hb #photo.ppy-active .ppy-outer {
  display: block;
}
.hb #photo .ppy-stage {
  width: 400px;
  height: 400px;
  border-radius: 0 5px 5px 5px;
  cursor: pointer;
  background-repeat: no-repeat !important;
  background-position: center !important;
  position: relative;
}
.hb #photo .ppy-placeholder {
  position: relative;
}
.hb #photo .ppy-caption,
.hb #photo .ppy-captionwrap {
  overflow: hidden;
}
.hb #photo .ppy-hidden {
  display: none !important;
}
.hb #photo .ppy-imglist {
  width: 100%;
  display: block;
  overflow: hidden;
}
.hb #photo .ppy-imglist li {
  padding: 10px;
  background: #fff;
  list-style: none;
  float: left;
  width: 400px;
  height: 400px;
  display: block;
  margin: 0 10px 10px 0;
}
.hb #photo .ppy-imglist li a img {
  display: block;
  border: 0;
}
.hb #photo .ppy-extcaption {
  width: 400px;
  display: block;
}
.hb #attr {
  padding-right: 0;
}
.hb #attr .hb.header {
  text-transform: uppercase;
}
.hb #attr .hb.header .item {
  font-size: 11px;
}
.hb #attr .price {
  color: #aaa;
}
.hb #attr .price .current span {
  font-size: 2rem;
  color: #000;
}
.hb #attr .color .item {
  width: auto;
  min-height: 0;
}
.hb #attr .size {
  margin-left: 38px;
}
.hb #acce .column.acce {
  position: relative;
}
.hb #acce .column.acce:before {
  content: "+";
  height: 0;
  width: 20px;
  display: block;
  color: #aaaaaa;
  font-size: 2rem;
  position: absolute;
  right: 10%;
  top: 20%;
}
.hb #acce .column.acce:nth-child(4):before {
  content: "=";
}
.hb #buy .price {
  color: #aaa;
}
.hb #buy .price strong {
  color: #A94442;
}
.hb #buy .form input {
  width: 100%;
  text-align: center;
}
.hb #policy .grid .column {
  position: relative;
}
.hb #policy .grid .column:after {
  display: block;
  height: 0;
  width: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  font-weight: bold;
  content: "→";
  font-size: 1.5rem;
  margin-top: -1rem;
}
.hb #policy .grid .column:last-child:after {
  display: none;
}
.hb .hb.itemList .item {
  margin: 0;
  padding: 0;
  position: relative;
}
.hb .hb.itemList .item .header {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #454545;
  max-height: 3.6em;
  overflow: hidden;
}
.hb .hb.itemList .item .price {
  color: #A94442;
}
.hb .hb.itemList .item .price del {
  color: #aaa;
}
.hb .hb.itemList2 {
  font-size: 1rem;
}
.hb .hb.itemList2 .item img {
  max-width: 36%;
}
.hb .hb.itemList2 .item .content {
  width: 50%;
}
.hb #index {
  margin: 0;
}
.hb #index > .column {
  margin-top: 0;
  padding: 0;
}
.hb #index > .column#side {
  padding-left: 10px;
}
.hb #index > .column#side .segment > .header {
  margin-top: 0;
}
.hb #index .header {
  font-size: 1rem;
}
.hb #index .header .header {
  margin-bottom: 5px;
  line-height: 2;
}
.hb #index .header .header.left {
  font-size: 2em;
  line-height: 1;
}
.hb #index #deals .hb.header {
  margin-top: 0;
}
.hb #index #deals .hb.header .sub.header {
  text-transform: uppercase;
  line-height: 2.8rem;
}
.hb #index #deals.inverted > .header {
  color: #000;
}
.hb #login label {
  padding-left: 0;
}
.hb #login .hb.horizontal.divider:before,
.hb #login .hb.horizontal.divider:after {
  width: 42%;
}
.hb #footer {
  color: #454545;
  margin-top: 10px;
}
.hb #footer a {
  color: #454545;
}
.hb #footer a:hover {
  text-decoration: underline;
}
.hb #footer .header {
  text-transform: uppercase;
}
.hb #footer .vertical.segment {
  padding-left: 1rem;
}
