@import url("../../common/less/config.less");
.ug-myaccount{
	padding-bottom:20px;
	border:@border;
	h2,h3,ul{
		padding-left:15px;
		margin:0;
		font-size:12px;
	}
	h3.ug-title{
		font-size:11px;
		margin:5px 0;
	}
	li{
		list-style-type:none;
	}
}
.show-grid {
    margin-bottom: 20px;
    margin-top: 10px;
}
.ug-account-list{
	min-height:408px;
	.panel-body{
		font-size:11px;
		.form-control{
			font-size:11px;
		}
	}
}
