<div class="ug-mainList ug-accessories">
  <div class="ug-productTit">
    <h3>Frequently Bought Together & Accessories</h3>
  </div>
	<ul class="ug-acceList clearfix">
    {% for x in (1..4) %}
	  <li class=" ">
	  <dl>
		  <dt><a href=""><img data-src="holder.js/75x75" alt="..."></a></dt>
		  <dd><span class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </span></dd>
	  </dl>
	  </li>
	<li class="ug-acc-icon"><dd><span class="glyphicon glyphicon-plus"></span></dd></li>
    {% endfor %}
	  <li class=" ">
	  <dl>
		  <dt><a href=""><img data-src="holder.js/75x75" alt="..."></a></dt>
		  <dd><span class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </span></dd>
	  </dl>
	  </li>
	</ul>
	<ul class="gu-acc-title">
	<li><strong>本商品：</strong>HP USB Optical Travel Mouse - Optical - USB - RH304AA<span class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </span></li>
    {% for x in (1..4) %}
	<li><a href="">HP Smart - Power adapter - car - 12 / 24 V - 90 Watt - for Compaq 610; HP 45X, 65X; EliteBook 2170, 84XX, 85XX,</a><span class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </span></li>
    {% endfor %}
	</ul>
</div>