<div class="ug-mainGrid ug-bestSeller" id="ug-bestSeller">
<div class="ug-productTit">
  <h3>Best Seller</h3>
	<a href="#ug-bestSeller" data-slide="prev" class="ug-control ug-control-prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a href="#ug-bestSeller" data-slide="next" class="ug-control ug-control-next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
<div class="carousel-inner ">
  <div class="row thumbnails item active">
      {% for x in (1..4) %}
      <div class="col-sm-6 col-md-3 ">
          <div class="clearfix thumbnail ug-clip"><a href="" class="ug-targ ug-targ-freeshipping"></a>
              <div class=" ug-mainImg">
                  <div class="ug-img"> <a href=""> <img src="holder.js?196x196"></a> </div>
              </div>
              <!--img end-->
              <div class="caption">
                  <div class="ug-info">
                      <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>

                  </div>
                  <div class="ug-pri">
                      <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
              </div>
              <!--info end-->
          </div>
      </div>
      {% endfor %}

  </div>

  <div class="row thumbnails item">
      {% for x in (1..4) %}
      <div class="col-sm-6 col-md-3 ">
          <div class="clearfix thumbnail ug-clip"><a href="" class="ug-targ ug-targ-freeshipping"></a>
              <div class="ug-mainImg">
                  <div class="ug-img"> <a href=""> <img src="holder.js?196x196/#000:#fff"></a> </div>
              </div>
              <!--img end-->
              <div class="caption">
                  <div class="ug-info">
                      <div class="ug-tit"> <a href=""> Cooler Master NotePal U Stand Laptop Cooling Pad Aluminum Base, up to 17" (2 x 100mm Configurable Fans) - R9-NBS-USTD-GP</a> </div>

                  </div>
                  <div class="ug-pri">
                      <div class="ug-price"><span class="ug-priceCurrent"><strong> CDN$ 40.57</strong> </span> </div>
                  </div>
              </div>
              <!--info end-->
          </div>
      </div>
      {% endfor %}

  </div>

</div>
</div>