<div class="container">
	
	<div id="un-login" class="row">
		<div class="col-md-6 col-md-offset-3">
			<div id="un-header" class="bgPurple">
			<a href="/page/index/html/index.html" class="pull-right un-title mt10 ui color white">Home <span class="glyphicon glyphicon-home"></span></a>
			{% include page/header/mod/logo.html %}
			</div>
            <div class="col-md-6">
                <h3 class="un-title un-spc-title">Existing Customers</h3>
                <div class="un-exist">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control input-sm" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember my Hookbag ID.
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary un-btn btn-sm un-title">Sign in</button>
                        <a href="sign.html" class="btn btn-default un-btn btn-sm un-title mt10">creat account</a>
                    </form>
                </div>
                <!--sign in-->
            </div>
            <div class="col-md-6 un-title un-or-login">
                <div class="un-or">OR</div>

                <a href="" class="un-other-login btn btn-default un-btn btn-sm"><span class="un-icon icon-facebook2 ui-c-facebook"></span>　Login with facebook</a>
                <a href="" class="un-other-login btn btn-default un-btn btn-sm"><span class="un-icon icon-google-plus3 ui-c-google"></span>　Login with google　 </a>
                <a href="" class="un-other-login btn btn-default un-btn btn-sm"><span class="un-icon icon-twitter2 ui-c-twitter"></span>　Login with twitter </a>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 ug-signin-help">
                <h3 class="un-title un-spc-title">Sign-In Help</h3>
                <p>If you are having problems logging in, try the following:</p>
                <ul>
                    <li>1.Enable Cookies</li>
                    <li>2.Refresh the page.</li>
                </ul>
                <p>
                    If you are still experiencing problems, try using this
                    <a href="/hb3/front/public/myaccount/cleancookie">link</a> to reset your cookies
                    and reload the page automatically.
                </p>
            </div>
            <!--help-->
            <div class="col-md-12 text-muted">
                copyright-2013
            </div>
        </div>

	</div>
</div>
