<div class="container">
	
	<div id="un-login" class="row">
		<div class="col-md-4 col-md-offset-4">
			<div id="un-header" class="bgGray">
			<a href="" class="pull-right mt10">Home <span class="glyphicon glyphicon-home"></span></a>
			{% include page/header/mod/logo.html %}
			</div>
			<h3 class="un-title un-spc-title">Existing Customers</h3>
			<div class="ug-exist pb20">
				<form role="form">
				  <div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				  </div>
				  <div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				  </div>
				  <div class="checkbox">
					<label>
					  <input type="checkbox"> Remember my Hookbag ID. 
					</label>
				  </div>
				  <button type="submit" class="btn btn-primary un-btn btn-sm un-title col-md-12">Sign in</button>
				  <a href="sign.html" class="btn btn-default un-btn btn-sm col-md-12 un-title mt10">creat account</a>
				</form>
			</div>
			<!--sign in-->
			<div class="ug-signin-help">
				<h3 class="un-title un-spc-title">Sign-In Help</h3>
				<p>If you are having problems logging in, try the following:</p>
				<ul>
				<li>1.Enable Cookies</li>
				<li>2.Refresh the page.</li>
				</ul>
				<p>
				If you are still experiencing problems, try using this
				<a href="/hb3/front/public/myaccount/cleancookie">link</a> to reset your cookies
				and reload the page automatically.
				</p>
			</div>
			<!--help-->
			<div class="text-muted">
			copyright-2013
			</div>
		</div>

	</div>

