<div class="container">
	<div id="un-login" class="row">
		<div class="col-md-4 col-md-offset-4">
			<div id="un-header">
			<a href="/page/index/html/index.html" class="pull-right un-title mt10 ui color white">Home <span class="glyphicon glyphicon-home"></span></a>
			{% include page/header/mod/logo.html %}
			</div>
			<h3 class="un-title un-spc-title">New Customer Sign-Up</h3>
			<div class="ug-signup">
			<form role="form">
			  <div class="form-group">
				<label for="exampleInputEmail1">Login ID/Email</label>
				<input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Login ID/Email">
			  </div>
			  <div class="form-group">
				<label for="exampleInputEmail1">Confirm Email</label>
				<input type="email" class="form-control input-sm" id="exampleInputEmail1" placeholder="Confirm Email">
			  </div>
			  <div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control input-sm" id="exampleInputPassword1" placeholder="Password">
			  </div>
			  <div class="form-group">
				<label for="exampleInputPassword1">Confirm Password</label>
				<input type="password" class="form-control input-sm" id="exampleInputPassword1" placeholder="Confirm Password">
			  </div>
			  <div class="checkbox">
				<label>
				  <input type="checkbox"> Remember my Hookbag ID. 
				</label>
			  </div>
			  <button type="submit" class="btn btn-success btn-sm un-btn un-title">Sign up</button>
			</form>
			</div>
			<div class="text-muted mt20">
			copyright-2013
			</div>
		</div>
	</div>
</div>