	<div class="container un-top">
		<a id="un-logo" class="pull-left" href="/page/index/html/index.html"><img src="/page/new/header/img/logo.png"></a>
		<ul class="nav navbar-nav navbar-right un-navmember">
			<li id="un-user" data-toggle='offcanvas'><span class="glyphicon glyphicon-user" > </span></li>
			<li><a class="glyphicon glyphicon-shopping-cart" href=""><span class="un-cartNum">2</span></a></li>
		</ul>
		<div class="row col-md-9 pull-right row-offcanvas row-offcanvas-right">
			<ul class="nav navbar-nav" id="un-search">
			<li class="col-md-2">
				<select class="dropdown form-contorl" tabindex="7">
					<option value="1" selected>All Categories</option>
					<option value="2">Computer Systems</option>
					<option value="3">Computer Parts</option>
					<option value="4">Phones</option>
					<option value="5">Network</option>
				</select>
			</li>
			<li class="col-md-10">
				<input type="search" placeholder="Keywords,Model#,SKU or UPC#" class="col-md-3 form-control"></li>
			</ul>
			<div id="un-login" class="sidebar-offcanvas">
				<form class="form-inline" role="form">
				<div class="form-group">
				  <label class="sr-only" for="exampleInputEmail2">Email address</label>
				  <input type="email" class="form-control input-sm" id="exampleInputEmail2" placeholder="Enter email">
				</div>
				<div class="form-group">
				  <label class="sr-only" for="exampleInputPassword2">Password</label>
				  <input type="password" class="form-control input-sm" id="exampleInputPassword2" placeholder="Password">
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox"> Remember me
				  </label>
				</div>
				<button type="submit" class="btn btn-primary btn-sm">Sign in</button>
				<a id="un-signUp" href="">Sign up</a>
				</form>				
			</div>
		</div>
	</div>
	<div class="navbar navbar-default affix-top un-nav-affix" data-spy="affix" data-offset-top="70">
		<nav class="container un-nav">
		<ul class="nav navbar-nav un-navlist">
		<li>
		  <a href="/page/new/node/html/page.html">
			Computer Systems  </a>
			<ul class="un-navgroup">
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1387/1/computer-hardware" class="">Computer Hardware</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1386/1/storage" class="">Storage</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1261/1/misc" class="">Misc</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1388/1/peripheral" class="">Peripheral</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1389/1/power-supplies" class="">Power Supplies</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1411/1/computer-accessories" class="">Computer Accessories</a></li>
            </ul>
		

		</li>
		<li>
		  <a href="/page/new/node/html/page.html">
			Computer Parts
		  </a>
			<ul class="un-navgroup">
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1387/1/computer-hardware" class="">Computer Hardware</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1386/1/storage" class="">Storage</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1261/1/misc" class="">Misc</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1388/1/peripheral" class="">Peripheral</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1389/1/power-supplies" class="">Power Supplies</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1411/1/computer-accessories" class="">Computer Accessories</a></li>
            </ul>
		</li>
		<li>
		  <a href="/page/new/node/html/page.html">
			Phones
		  </a>
			<ul class="un-navgroup">
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1387/1/computer-hardware" class="">Computer Hardware</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1386/1/storage" class="">Storage</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1261/1/misc" class="">Misc</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1388/1/peripheral" class="">Peripheral</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1389/1/power-supplies" class="">Power Supplies</a></li>
			<li class="un-sNavLink"><a href="http://www.hookbag.com/node/1411/1/computer-accessories" class="">Computer Accessories</a></li>
            </ul>
		</li>
		<li>
		  <a href="/page/new/node/html/page.html">
			Network
		  </a>
		</li>
		<li>
		  <a href="/page/new/node/html/page.html">
			Office
		  </a>
		</li>
		<li>
		  <a href="/page/new/node/html/page.html">
			Educational
		  </a>
		</li>
		<li>
		  <a href="/page/new/node/html/page.html">
			Software
		  </a>
		</li>
		<li>
		  <a href="/page/new/node/html/page.html">
			HardWare
		  </a>
		</li>
		<li>
		  <a href="/page/new/node/html/page.html">
			Home & Garden
		  </a>
		</li>
		<li>
		  <a href="/page/new/node/html/page.html">
			Clothing & Shoes
		  </a>
		</li>
		</ul>	
		</nav>

	</div>
	
<!--the top-->