<!DOCTYPE html>
<html class="no-js" id="hb">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ page.title }}</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include page/header/mod/style.html %}
</head>

<body>

  {% include page/header/mod/if-lt-ie8.html %}
  <div class="ui hb menu" id="header">
  	<a href="/html/index.html" class="item hb logo"></a>
    <a class="launch item"><i class="icon list layout"></i></a>
  	<ul class="right menu">
  		<li class="item hb search">
  			<div class="ui icon input">
          <input type="text" placeholder="Keywords,Model#,SKU or UPC#">
          <i class="search link icon"></i>
        </div>
  		</li>
  		<li class="item"><a href="login.html">Sign Up</a></li>
  		<li class="item"><a href="login.html">Sign In</a></li>
  		<li class="item"><a href="cart.html">Cart</a><span class="ui  label">22</span></li>
  	</ul>
  </div>
<div class="ui hb grid">
  {% if page.title != 'login' %}
    {% if page.title == 'index' or page.title == 'item' %}
      {% if page.title == 'item' %}
      <div class="three wide column side left slideLeft" id="side">
      {% else %}  
      <div class="three wide column side left" id="side">
      {% endif %}
    {% include page/header/mod/nav.html %}
    {% else %}
    <div class="three wide column side left subNav" id="side">
    {% include page/header/mod/subNav.html %}
    {% endif %}
    </div><!--side-->
  {% endif %}
