<!DOCTYPE html>
<html class="no-js" id="hb">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title></title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include page/header/mod/style.html %}
</head>

<body>

  {% include page/header/mod/if-lt-ie8.html %}
  <div class="ui hb menu" id="header">
  	<a href="/page/html/index.html" class="item hb logo"></a>
  	<ul class="right menu">
  		<li class="item hb search">
  			<div class="ui icon input">
          <input type="text" placeholder="Keywords,Model#,SKU or UPC#">
          <i class="search link icon"></i>
        </div>
  		</li>
  		<li class="item"><a href="">Sign Up</a></li>
  		<li class="item"><a href="">Sign In</a></li>
  		<li class="item"><a href="">Cart</a></li>
  	</ul>
  </div>
<div class="ui hb grid">
  <div class="three wide column ui vertical menu hb side left" id="side">
    <a class="item">
        <i class="desktop icon"></i>
        Computer Systems
    </a>
    <a class="item">
        <i class="keyboard icon"></i>
        Computer Parts
    </a>
    <a class="item">
        <i class="mobile icon"></i>
        Phones
    </a>
    <a class="item">
        <i class="globe icon"></i>
        Network
    </a>
    <a class="item">
        <i class="briefcase icon"></i>
        Office
    </a>
    <a class="item">
        <i class="book icon"></i>
        Education
    </a>
    <a class="item">
        <i class="save icon"></i>
        Software
    </a>
    <a class="item">
        <i class="hdd icon"></i>
        Hardware
    </a>
    <a class="item">
        <i class="home icon"></i>
        Home&Garden
    </a>
    <a class="item">
        <i class="cart icon"></i>
        Clothing&Shoes
    </a>
    <a class="item slideLeft">
        <i class="arrow sign left icon"></i>
        收起菜单
    </a>

  </div><!--side-->
  