<link rel="stylesheet" href="/style/base/bootstrap/css/bootstrap.css?ui={{ site.time | date_to_xmlschema | cgi_escape}}">
<link rel="stylesheet" href="/style/v3/css/un.css?ui={{ site.time | date_to_xmlschema | cgi_escape}}">
<link rel="stylesheet" href="/style/v3/css/ui.css?ui={{ site.time | date_to_xmlschema | cgi_escape}}">
<link rel="stylesheet" href="/style/v3/css/mod.css?ui={{ site.time | date_to_xmlschema | cgi_escape}}">

<script src="/style/base/jquery/jquery.js?ui={{ site.time | date_to_xmlschema | cgi_escape}}"></script>
<script src="/style/base/bootstrap/js/bootstrap.js?ui={{ site.time | date_to_xmlschema | cgi_escape}}"></script>
<script src="/style/v3/js/app.js?ui={{ site.time | date_to_xmlschema | cgi_escape}}"></script>

<link rel="stylesheet" href="/style/base/select2/select2.css?ui={{ site.time | date_to_xmlschema | cgi_escape}}">
<script src="/style/base/select2/select2.min.js?ui={{ site.time | date_to_xmlschema | cgi_escape}}"></script>
<!--延迟加载-->

<script src="/style/base/holderjs/holder.js?ui={{ site.time | date_to_xmlschema | cgi_escape}}"></script>
<script src="/style/base/jQuery-menu-aim/jquery.menu-aim.js?ui={{ site.time | date_to_xmlschema | cgi_escape}}"></script>
<script>
$(document).ready(function() {
  //navbar-toggle
  if($('.un-hideNav').length>0){
    $('.navbar-toggle').show();
  }
  //icon
  if($('#un-item').length>0){
    $('.un-sideShow').children().eq(0).toggleClass('icon-arrow-left3 icon-arrow-right3');
  }
  if($('#un-grid').length>0){
    $('.un-sideShow').hide();
  }

  //offcanvas
  $('[data-toggle=offcanvas]').click(function(){
    var side=$($(this).attr('data-target')).parent(),sideElm=$($(this).attr('data-target')),len=side.children().index(sideElm.find('.left'));
    if($(this).hasClass('navbar-toggle')){
      side.children().toggleClass('left');
    }else if($(this).hasClass('un-sideShow')){
      side.children().toggleClass('active');
      $(this).children().eq(0).toggleClass('icon-arrow-left3 icon-arrow-right3');
    }else{
      side.children().toggleClass('active left');
    }
  });
  if($(window).width()<1024){
    $('.un-side').removeClass('active');
    $('.un-main').removeClass('active');
  }

  //un-side
  $('.un-sideLeft0').height($(window).height());
  $(window).resize(function(){
    $('.un-sideLeft0').height($(window).height());
  });
});
</script>