<div id="ug-bestseller" class="ug-index-control">
  <h2 class="ug-title">Best Seller</h2>
  <div class="carousel-inner">

    <ul class="row ug-main ug-control-inner item active">
      {% for x in (1..4) %}
      <li class="col-xs-12 col-sm-3 col-md-3">
        <div class="thumbnail ug-clip ug-bestseller-clip">
          <a class="ug-targ ug-targ-freeshipping" href=""></a>
          <a class="ug-targ ug-targ-bestseller"  href=""></a>
          <a class="ug-img" href="/page/item/html/item.html"><img src="holder.js/196x196"></a>
		  <div class="caption">
		  <div class="ug-info">
			  <div class="ug-tit">
				<a href="">Pyle Home PAMP1000 160 Watt 2 Channel Home Stereo Power Amplifier</a>
			  </div>
			  <div class="ug-price">
				<del>$330.37</del>
				<strong><span class="price final"><em>CDN$ 472</em><span>.27</span></span></strong>
			  </div>
		  </div>
		  </div>
        </div>
      </li>
      {% endfor %}
    </ul>

    <ul class="row ug-main ug-control-inner item">
      {% for x in (1..4) %}
      <li class="col-xs-12 col-sm-3 col-md-3">
        <div class="thumbnail ug-clip ug-bestseller-clip">
          <a class="ug-targ ug-targ-freeshipping" href=""></a>
          <a class="ug-targ ug-targ-bestseller"  href=""></a>
          <a class="ug-img" href="/page/item/html/item.html"><img src="holder.js/196x196/#000:#fff"></a>
		  <div class="caption">
		  <div class="ug-info">
			  <div class="ug-tit">
				<a href="">Pyle Home PAMP1000 160 Watt 2 Channel Home Stereo Power Amplifier</a>
			  </div>
			  <div class="ug-price">
				<del>$330.37</del>
				<strong><span class="price final"><em>CDN$ 472</em><span>.27</span></span></strong>
			  </div>
		  </div>
		  </div>
        </div>
      </li>
      {% endfor %}
    </ul>

  </div>

	<a href="#ug-bestseller" data-slide="prev" class="ug-control ug-control-prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a href="#ug-bestseller" data-slide="next" class="ug-control ug-control-next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>