#hb {
  background-color: #F1F1F1;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  font-size: 87.5%;
}
#hb body {
  margin: 0;
  padding: 0;
}
#hb a {
  color: #4288ca;
  text-decoration: none;
}
#hb a:hover {
  color: #245482;
}
#hb .hb.header {
  margin: 20px 0 10px;
  clear: both;
}
.hb {
  /*******************************
           hb  
*******************************/
  /*******************************
           header  
*******************************/
  /*******************************
           side
*******************************/
  /*******************************
           main
*******************************/
  /*******************************
           item
*******************************/
  /*photo*/
  /*attr*/
  /*buy*/
  /*list*/
}
.hb.grid > .column {
  padding-left: 1%;
  padding-right: 1%;
}
.hb .segment {
  border-radius: 0;
  margin: 0;
}
.hb ul.hb {
  list-style-type: none;
}
.hb#header {
  border-radius: 0;
  margin-bottom: 1px;
}
.hb#header .hb.logo {
  width: 200px;
  height: 45px;
  margin-top: 5px;
  background: url(/page/img/logo.png);
}
.hb#header .item {
  padding: 20px;
}
.hb#header .item.hb.search {
  width: 800px;
}
.hb #side.hb.side {
  border-radius: 0;
  border-top: none;
  padding: 0;
  /*left*/
}
.hb #side.hb.side.left .item {
  border-radius: 0;
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  padding: 20px 10px;
}
.hb #side.hb.side.left .item .icon {
  float: left;
  margin: 0 1em 0 0;
}
.hb #side.hb.side.left .item:hover {
  background: #0e71c0;
  color: #fff;
}
.hb #main {
  margin: 0;
}
.hb #main .breadcrumb.segment {
  box-shadow: none;
  width: 100%;
  margin-bottom: 10px;
}
.hb #main .breadcrumb.segment .active {
  color: #666;
}
.hb #photo {
  margin-top: 0;
}
.hb #photo #small {
  text-align: right;
  margin-top: 0;
}
.hb #photo #small .small {
  cursor: pointer;
}
.hb #photo #big {
  background-color: #4a4a4a;
  margin-top: 0;
}
.hb #photo #big img {
  max-width: 100%;
}
.hb #attr {
  padding-right: 0;
}
.hb #attr .hb.header {
  text-transform: uppercase;
}
.hb #attr .hb.header .item {
  font-size: 11px;
}
.hb #attr .price {
  color: #aaa;
}
.hb #attr .price .current span {
  font-size: 2rem;
  color: #000;
}
.hb #attr .color .item {
  width: auto;
  min-height: 0;
}
.hb #attr .size {
  margin-left: 38px;
}
.hb #buy .price {
  color: #aaa;
}
.hb #buy .price strong {
  color: #A94442;
}
.hb .hb.horizontal > .item {
  margin: 0;
  padding: 0;
}
.hb .hb.horizontal > .item .header {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #454545;
}
