#hb {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  font-size: 62.5%;
}
#hb body {
  margin: 0;
  padding: 0;
}
#hb a {
  color: #4288ca;
  text-decoration: none;
}
#hb a:hover {
  color: #245482;
}
#hb #header .hb.logo {
  width: 200px;
  height: 45px;
  margin-top: 5px;
  background: url(/page/img/logo.png);
}
#hb #header .item {
  padding: 20px;
}
#hb #header .item.hb.search {
  width: 800px;
}
