#hb {
  background-color: #F1F1F1;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  font-size: 87.5%;
  /*******************************
           header  
*******************************/
  /*******************************
           side
*******************************/
  /*******************************
           main
*******************************/
}
#hb body {
  margin: 0;
  padding: 0;
}
#hb a {
  color: #4288ca;
  text-decoration: none;
}
#hb a:hover {
  color: #245482;
}
#hb .hb.grid > .column {
  padding-left: 10px;
  padding-right: 10px;
}
#hb .hb.segment {
  border-radius: 0;
  margin: 0;
}
#hb #header {
  border-radius: 0;
  margin-bottom: 1px;
}
#hb #header .hb.logo {
  width: 200px;
  height: 45px;
  margin-top: 5px;
  background: url(/page/img/logo.png);
}
#hb #header .item {
  padding: 20px;
}
#hb #header .item.hb.search {
  width: 800px;
}
#hb #side.hb.side {
  border-radius: 0;
  border-top: none;
  padding: 0;
}
#hb #side.hb.side.left .item {
  border-radius: 0;
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  padding: 20px 10px;
}
#hb #side.hb.side.left .item .icon {
  float: left;
  margin: 0 1em 0 0;
}
#hb #side.hb.side.left .item:hover {
  background: #0e71c0;
  color: #fff;
}
#hb #main {
  margin: 0;
}
#hb #main .breadcrumb.segment {
  box-shadow: none;
  width: 100%;
  margin-bottom: 10px;
}
#hb #main .breadcrumb.segment .active {
  color: #666;
}
